config/packages/firmware/Node-RED-Flow/Node-RED-Flow
[{"id":"48a3a430.41762c","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0.84.6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":220,"wires":[["3f01afd0.502ee"],["2bb92af2.bcdeb6","44a1453.d45b2bc","d94481b7.9113f"]]},{"id":"7ef87cbc.399294","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Home Assistant Update {{ states.sensor.latest_ha_version.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":320,"wires":[[]]},{"id":"44a1453.d45b2bc","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":640,"y":260,"wires":[["2f0c5352.3d395c"],["7ef87cbc.399294"]]},{"id":"d94481b7.9113f","type":"api-call-service","z":"b2df1e99.f0973","name":"Persistant Notification","server":"4d97f48a.5f4fac","service_domain":"persistent_notification","service":"create","data":"{\"title\":\"HA Update Available\",\"message\":\"HA Update {{ states.sensor.latest_ha_version.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":200,"wires":[[]]},{"id":"3f01afd0.502ee","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn off HA Update","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.ha_update_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":120,"wires":[[]]},{"id":"2bb92af2.bcdeb6","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn on HA Update","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.ha_update_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":320,"wires":[[]]},{"id":"b4662caf.9f423","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ha040.mp3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":500,"wires":[["83586f26.4ac0a"],["54b9249e.a555cc","e6153c64.0222d","5f426130.4d23a"]]},{"id":"5f426130.4d23a","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":640,"y":540,"wires":[["57a2a7df.ea53b8"],["df1518ad.92d558"]]},{"id":"54b9249e.a555cc","type":"api-call-service","z":"b2df1e99.f0973","name":"Persistant Notification","server":"4d97f48a.5f4fac","service_domain":"persistent_notification","service":"create","data":"{\"title\":\"HA Podcast Available\",\"message\":\"HA Podcast {{ states.sensor.latest_ha_podcast.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":480,"wires":[[]]},{"id":"83586f26.4ac0a","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn off Podcast Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.new_podcast_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":400,"wires":[[]]},{"id":"e6153c64.0222d","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn on Podcast Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.new_podcast_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":600,"wires":[[]]},{"id":"6635a177.24eb9","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"v6.3.0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":780,"wires":[["6747c48.28ae53c"],["e8b0e236.9eb69","801f40de.37345","3ea03592.2f6e0a"]]},{"id":"ed000698.e85da8","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Sonoff Firmware Version {{ states.sensor.sonoff_firmware_version.state }} is available.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":880,"wires":[[]]},{"id":"3ea03592.2f6e0a","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":640,"y":820,"wires":[["c1f3d8af.624738"],["ed000698.e85da8"]]},{"id":"e8b0e236.9eb69","type":"api-call-service","z":"b2df1e99.f0973","name":"Persistant Notification","server":"4d97f48a.5f4fac","service_domain":"persistent_notification","service":"create","data":"{\"title\":\"Sonoff Firmware Available\",\"message\":\"Sonoff Firmware {{ states.sensor.sonoff_firmware_version.state }} is available.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":760,"wires":[[]]},{"id":"6747c48.28ae53c","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn off Sonoff Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.sonoff_update_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":680,"wires":[[]]},{"id":"801f40de.37345","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn on Sonoff Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.sonoff_update_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":880,"wires":[[]]},{"id":"40c7fe76.6356c","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"RouterOS 6.43.8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1060,"wires":[["2577039d.7ea71c"],["51f36ae4.36c894","d4da6f40.e79e7","9ae1373e.a49618"]]},{"id":"d1ec52d6.710e","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"RouterOS Version {{ states.sensor.next_router_os_release.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":1160,"wires":[[]]},{"id":"9ae1373e.a49618","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":640,"y":1100,"wires":[["a5c93ec5.e7b94"],["d1ec52d6.710e"]]},{"id":"bad613e8.90e7f","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1130,"y":1100,"wires":[[]]},{"id":"51f36ae4.36c894","type":"api-call-service","z":"b2df1e99.f0973","name":"Persistant Notification","server":"4d97f48a.5f4fac","service_domain":"persistent_notification","service":"create","data":"{\"title\":\"New RouterOS Available\",\"message\":\"RouterOS {{ states.sensor.next_router_os_release.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":1040,"wires":[[]]},{"id":"2577039d.7ea71c","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn off RouterOS Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.new_routeros_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":960,"wires":[[]]},{"id":"d4da6f40.e79e7","type":"api-call-service","z":"b2df1e99.f0973","name":"Turn on RouterOS Available","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.new_routeros_available\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":1160,"wires":[[]]},{"id":"ea76e4b.a080118","type":"poll-state","z":"b2df1e99.f0973","name":"HASSIO Update Available","server":"4d97f48a.5f4fac","updateinterval":"86400","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.latest_ha_version","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":220,"wires":[["48a3a430.41762c"]]},{"id":"1b4dc971.e881d7","type":"poll-state","z":"b2df1e99.f0973","name":"HA Podcast Available","server":"4d97f48a.5f4fac","updateinterval":"86400","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.latest_ha_podcast","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":500,"wires":[["b4662caf.9f423"]]},{"id":"e4825724.d4f668","type":"poll-state","z":"b2df1e99.f0973","name":"Sonoff Firmware Available","server":"4d97f48a.5f4fac","updateinterval":"86400","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.sonoff_firmware_version","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":780,"wires":[["6635a177.24eb9"]]},{"id":"dde39597.a3f7c8","type":"poll-state","z":"b2df1e99.f0973","name":"RouterOS Available","server":"4d97f48a.5f4fac","updateinterval":"86400","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.next_router_os_release","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":1060,"wires":[["40c7fe76.6356c"]]},{"id":"526109e6.33b0b8","type":"comment","z":"b2df1e99.f0973","name":"Firmware Notifications","info":"","x":160,"y":100,"wires":[]},{"id":"a5c93ec5.e7b94","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RouterOS Version '{{ payload }}' is available!","output":"str","x":880,"y":1100,"wires":[["fbca2eb7.b9334"]]},{"id":"fbca2eb7.b9334","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1020,"wires":[["bad613e8.90e7f"]]},{"id":"c1f3d8af.624738","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sonoff Firmware Version '{{ payload }}' is available!","output":"str","x":860,"y":820,"wires":[["1dd042ea.383b4d"]]},{"id":"1dd042ea.383b4d","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":720,"wires":[["e625f074.25e25"]]},{"id":"e625f074.25e25","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1110,"y":820,"wires":[[]]},{"id":"57a2a7df.ea53b8","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Home Assistant Podcast '{{ payload }}' is available!","output":"str","x":860,"y":540,"wires":[["f4ddfe63.c75a6"]]},{"id":"f4ddfe63.c75a6","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["13a91f62.988591"]]},{"id":"13a91f62.988591","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":540,"wires":[[]]},{"id":"df1518ad.92d558","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"HA Podcast {{ states.sensor.latest_ha_podcast.state }} is available!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":600,"wires":[[]]},{"id":"2f0c5352.3d395c","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"HA Update {{ payload }} is available!","output":"str","x":860,"y":260,"wires":[["2d07cfbb.22bf"]]},{"id":"2d07cfbb.22bf","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":160,"wires":[["6568dccf.611974"]]},{"id":"6568dccf.611974","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":240,"wires":[[]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
