config/packages/climate_control/Node-RED-Flow/Node-RED-Flow
[{"id":"5abc7980.c4db48","type":"tab","label":"Climate Control","disabled":false,"info":""},{"id":"bc521a98.995908","type":"comment","z":"5abc7980.c4db48","name":"Downstairs Aircon","info":"","x":190,"y":100,"wires":[]},{"id":"87ba103.5292ff","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Off","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.climate_off\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":160,"wires":[[]]},{"id":"9ebbe455.854fc8","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Downstairs climate off\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":120,"wires":[[]]},{"id":"86147422.22dfe8","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Climate Off","vt":"str"},{"t":"eq","v":"Cool","vt":"str"},{"t":"eq","v":"Heat","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":200,"wires":[["87ba103.5292ff","9ebbe455.854fc8"],["f777eddf.b96bc","a13c0ba1.1e1998"],["863c0ba1.695198","775556a1.3334a8"]]},{"id":"f777eddf.b96bc","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Cool","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.climate_cool\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":240,"wires":[[]]},{"id":"a13c0ba1.1e1998","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Climate Control On lets cool this place down\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":200,"wires":[[]]},{"id":"863c0ba1.695198","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Heat","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.climate_heat\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":320,"wires":[[]]},{"id":"775556a1.3334a8","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Climate Control On lets warm this place up\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":280,"wires":[[]]},{"id":"8628a6ee.fcddd8","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Fan Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Medium","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":540,"wires":[["d5b0efa4.ba6b2","8a91c0be.184f8"],["cc3277e9.4d8da8","678c9096.b3a17"],["cf025bad.329bc8","f0ccfc3b.b2e8"],["361b726b.20a38e","3e537952.e86946"]]},{"id":"f8a16e13.c12c1","type":"comment","z":"5abc7980.c4db48","name":"Downstairs Ceiling Fan","info":"","x":200,"y":400,"wires":[]},{"id":"63c35e3b.31901","type":"comment","z":"5abc7980.c4db48","name":"Upstairs Aircon","info":"","x":160,"y":1200,"wires":[]},{"id":"1b3a7901.94ce87","type":"comment","z":"5abc7980.c4db48","name":"Bedroom Ceiling Fan","info":"","x":180,"y":1480,"wires":[]},{"id":"da9ae944.ed4918","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.aircon_power\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":1240,"wires":[[]]},{"id":"13e173a5.6f248c","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.tts_kodi\",\"message\":\"Bedroom climate off\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":1200,"wires":[[]]},{"id":"76a5b780.45ec88","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Climate Off","vt":"str"},{"t":"eq","v":"Climate Cool","vt":"str"},{"t":"eq","v":"Climate Heat","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":1320,"wires":[["da9ae944.ed4918"],["ad1a1391.10b1d"],["72500b5a.b25c34"]]},{"id":"ad1a1391.10b1d","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Cool","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.aircon_mode_cool\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":1320,"wires":[[]]},{"id":"72582154.5d787","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.tts_kodi\",\"message\":\"Climate Control On lets cool this place down\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":1280,"wires":[[]]},{"id":"72500b5a.b25c34","type":"api-call-service","z":"5abc7980.c4db48","name":"Climate Heat","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"switch.aircon_mode_heat\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":1400,"wires":[[]]},{"id":"a610d14c.8be5e","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.tts_kodi\",\"message\":\"Climate Control On lets warm this place up\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":1360,"wires":[[]]},{"id":"8a91c0be.184f8","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Fan Off\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":440,"wires":[[]]},{"id":"678c9096.b3a17","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Fan Low\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":560,"wires":[[]]},{"id":"f0ccfc3b.b2e8","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Fan Medium\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":680,"wires":[[]]},{"id":"3e537952.e86946","type":"api-call-service","z":"5abc7980.c4db48","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Fan High\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":800,"wires":[[]]},{"id":"13fc3a0.3f039c6","type":"trigger-state","z":"5abc7980.c4db48","name":"Climate Input State","server":"4d97f48a.5f4fac","entityid":"input_select.lounge_aircon","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":200,"wires":[["86147422.22dfe8"],[]]},{"id":"3edc3c04.2256b4","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"input_select.lounge_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":540,"wires":[["8628a6ee.fcddd8"],[]]},{"id":"e57207b5.3e5d98","type":"trigger-state","z":"5abc7980.c4db48","name":"Climate Input State","server":"4d97f48a.5f4fac","entityid":"input_select.master_bedroom_aircon","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1320,"wires":[["76a5b780.45ec88"],[]]},{"id":"dde37e0c.bc6d2","type":"server-state-changed","z":"5abc7980.c4db48","name":"Bedroom Fan Wall Switch","server":"4d97f48a.5f4fac","entityidfilter":"sensor.bedroom_fan_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":190,"y":1620,"wires":[["34e03419.adc37c"]]},{"id":"34e03419.adc37c","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Med","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":1620,"wires":[["3a0ba7a6.d726c8"],["d11b99c0.0eff58"],["322e05b3.4a6e1a"],["bf0148b8.aa48f8"]]},{"id":"3a0ba7a6.d726c8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1540,"wires":[[]]},{"id":"d11b99c0.0eff58","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1600,"wires":[[]]},{"id":"322e05b3.4a6e1a","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1660,"wires":[[]]},{"id":"bf0148b8.aa48f8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1720,"wires":[[]]},{"id":"fb92506.1ca43b","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1800,"wires":[[]]},{"id":"8dfda27a.fd319","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1860,"wires":[[]]},{"id":"da7614b0.8b2f78","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1920,"wires":[[]]},{"id":"1c935497.14fffb","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.bedroom_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":1980,"wires":[[]]},{"id":"eaf68658.3c5388","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"input_select.bedroom_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":1860,"wires":[["ed0e6436.ea8d78"],[]]},{"id":"ed0e6436.ea8d78","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Fan Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Medium","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":1880,"wires":[["fb92506.1ca43b"],["8dfda27a.fd319"],["da7614b0.8b2f78"],["1c935497.14fffb"]]},{"id":"d5b0efa4.ba6b2","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":500,"wires":[[]]},{"id":"cc3277e9.4d8da8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":620,"wires":[[]]},{"id":"cf025bad.329bc8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":740,"wires":[[]]},{"id":"361b726b.20a38e","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":860,"wires":[[]]},{"id":"b908fa21.609478","type":"server-state-changed","z":"5abc7980.c4db48","name":"Lounge Fan Wall Switch","server":"4d97f48a.5f4fac","entityidfilter":"sensor.lounge_fan_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":780,"wires":[["17ccdb54.39cb45"]]},{"id":"17ccdb54.39cb45","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Med","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":780,"wires":[["d5b0efa4.ba6b2","8a91c0be.184f8"],["cc3277e9.4d8da8","678c9096.b3a17"],["cf025bad.329bc8","f0ccfc3b.b2e8"],["361b726b.20a38e","3e537952.e86946"]]},{"id":"f7ba2ab3.04ff18","type":"switch","z":"5abc7980.c4db48","name":"Lounge Fan Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d000201ce4e","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1040,"wires":[["18badc4.f8cc924"]]},{"id":"18badc4.f8cc924","type":"switch","z":"5abc7980.c4db48","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":1040,"wires":[["6c466335.82f84c"],["968b4e86.3ff8b"],[]]},{"id":"6c466335.82f84c","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Toggle","server":"4d97f48a.5f4fac","service_domain":"fan","service":"toggle","data":"{\"entity_id\":\"fan.lounge_fan\",\"data\":\"FanSpeed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":1000,"wires":[[]]},{"id":"b82605ac.1fd538","type":"server-events","z":"5abc7980.c4db48","name":"Events","server":"4d97f48a.5f4fac","event_type":"","x":130,"y":1040,"wires":[["f7ba2ab3.04ff18"]]},{"id":"968b4e86.3ff8b","type":"api-call-service","z":"5abc7980.c4db48","name":"Light Toggle","server":"4d97f48a.5f4fac","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.lounge_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":1060,"wires":[[]]},{"id":"9b21dd6b.7de08","type":"comment","z":"5abc7980.c4db48","name":"Jackson Ceiling Fan","info":"","x":170,"y":2040,"wires":[]},{"id":"6568ead2.1f96a4","type":"server-state-changed","z":"5abc7980.c4db48","name":"Jackson Fan Wall Switch","server":"4d97f48a.5f4fac","entityidfilter":"sensor.jackson_fan_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":190,"y":2180,"wires":[["81fecaff.ed0628"]]},{"id":"81fecaff.ed0628","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Med","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":2180,"wires":[["471e7c2.caf9184"],["fad45afe.bb95a8"],["5c181d46.1fa604"],["47b80fc3.a07e"]]},{"id":"471e7c2.caf9184","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2100,"wires":[[]]},{"id":"fad45afe.bb95a8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2160,"wires":[[]]},{"id":"5c181d46.1fa604","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2220,"wires":[[]]},{"id":"47b80fc3.a07e","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2280,"wires":[[]]},{"id":"85cd0b3d.545be8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2360,"wires":[[]]},{"id":"8474328c.7e3aa","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2420,"wires":[[]]},{"id":"ad5caf5a.1dcf7","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2480,"wires":[[]]},{"id":"8c2b074a.7af138","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.jackson_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2540,"wires":[[]]},{"id":"692ba291.4f088c","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"input_select.jackson_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":2420,"wires":[["6237a70f.0ca8e8"],[]]},{"id":"6237a70f.0ca8e8","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Fan Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Medium","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":2440,"wires":[["85cd0b3d.545be8"],["8474328c.7e3aa"],["ad5caf5a.1dcf7"],["8c2b074a.7af138"]]},{"id":"5e195caa.ac9fe4","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"fan.jackson_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":800,"y":2200,"wires":[["c08d0bf9.874fa8"],[]]},{"id":"c08d0bf9.874fa8","type":"switch","z":"5abc7980.c4db48","name":"Fan Turned On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":2300,"wires":[["663441f1.da7f7"]]},{"id":"663441f1.da7f7","type":"stoptimer","z":"5abc7980.c4db48","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"2Hrs","x":1030,"y":2200,"wires":[["7d0fb5b7.f04a3c"],[]]},{"id":"7d0fb5b7.f04a3c","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.jackson_fan\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1160,"y":2300,"wires":[[]]},{"id":"a17c4b74.ede918","type":"comment","z":"5abc7980.c4db48","name":"Hudson Ceiling Fan","info":"","x":170,"y":2620,"wires":[]},{"id":"6992336c.59b53c","type":"server-state-changed","z":"5abc7980.c4db48","name":"Hudson Fan Wall Switch","server":"4d97f48a.5f4fac","entityidfilter":"sensor.hudson_fan_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":190,"y":2760,"wires":[["74657a0.4951788"]]},{"id":"74657a0.4951788","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Med","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":2760,"wires":[["1f85d6e3.838519"],["c9d07fa2.5e14f"],["e0596c6c.3902f"],["658ffa98.a86b54"]]},{"id":"1f85d6e3.838519","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2680,"wires":[[]]},{"id":"c9d07fa2.5e14f","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2740,"wires":[[]]},{"id":"e0596c6c.3902f","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2800,"wires":[[]]},{"id":"658ffa98.a86b54","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2860,"wires":[[]]},{"id":"23a4f94d.c0b596","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"0\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":2940,"wires":[[]]},{"id":"f41d9d64.795db","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Low","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"1\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":3000,"wires":[[]]},{"id":"b7cd1ec1.3054f","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Med","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":3060,"wires":[[]]},{"id":"e9a67555.0407e8","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan High","server":"4d97f48a.5f4fac","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.hudson_fan\",\"speed\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":3120,"wires":[[]]},{"id":"211caaff.cec016","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"input_select.hudson_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":3000,"wires":[["d3b96836.33ee28"],[]]},{"id":"d3b96836.33ee28","type":"switch","z":"5abc7980.c4db48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Fan Off","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Medium","vt":"str"},{"t":"eq","v":"High","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":3020,"wires":[["23a4f94d.c0b596"],["f41d9d64.795db"],["b7cd1ec1.3054f"],["e9a67555.0407e8"]]},{"id":"abc980b3.2cacb","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"fan.hudson_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":800,"y":2780,"wires":[["9a0fa9c5.64eaf8"],[]]},{"id":"9a0fa9c5.64eaf8","type":"switch","z":"5abc7980.c4db48","name":"Fan Turned On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":2880,"wires":[["24bdae2b.d28182"]]},{"id":"24bdae2b.d28182","type":"stoptimer","z":"5abc7980.c4db48","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"2Hrs","x":1030,"y":2780,"wires":[["a7bfa032.74317"],[]]},{"id":"a7bfa032.74317","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.hudson_fan\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1160,"y":2880,"wires":[[]]},{"id":"7683dd9d.cd7534","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"fan.bedroom_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":860,"y":1700,"wires":[["cdf39ac.d5b4c68"],[]]},{"id":"cdf39ac.d5b4c68","type":"switch","z":"5abc7980.c4db48","name":"Fan Turned On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":1800,"wires":[["555a8e5e.b753f"]]},{"id":"555a8e5e.b753f","type":"stoptimer","z":"5abc7980.c4db48","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"2Hrs","x":1090,"y":1700,"wires":[["c13bdf31.bb4c4"],[]]},{"id":"c13bdf31.bb4c4","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.bedroom_fan\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1220,"y":1800,"wires":[[]]},{"id":"91051192.5dd4d","type":"trigger-state","z":"5abc7980.c4db48","name":"Fan Input State","server":"4d97f48a.5f4fac","entityid":"fan.lounge_fan","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":1200,"y":580,"wires":[["6bbb120b.d13b4c"],[]]},{"id":"6bbb120b.d13b4c","type":"switch","z":"5abc7980.c4db48","name":"Fan Turned On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":680,"wires":[["b48abc9c.b4f9c"]]},{"id":"b48abc9c.b4f9c","type":"stoptimer","z":"5abc7980.c4db48","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"2Hrs","x":1430,"y":580,"wires":[["6c4ce767.8dff98"],[]]},{"id":"6c4ce767.8dff98","type":"api-call-service","z":"5abc7980.c4db48","name":"Fan Off","server":"4d97f48a.5f4fac","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.lounge_fan\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1560,"y":680,"wires":[[]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
