config/packages/github/Node-RED-Flow/Node-RED-Flow
[{"id":"bebdd806.914db8","type":"trigger-state","z":"b2df1e99.f0973","name":"New Github Star","server":"4d97f48a.5f4fac","entityid":"sensor.stars","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1420,"wires":[["a4522e55.b4ff6"],[]]},{"id":"1e996e26.646692","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1420,"wires":[["5566579.b8ea3a8"],["11f06998.ae8a96"]]},{"id":"5566579.b8ea3a8","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Your Github Repo now has {{ states.sensor.stars.state }} stars.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":1340,"wires":[[]]},{"id":"11f06998.ae8a96","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":660,"y":1480,"wires":[["72453025.28d38"],["f7713646.789c68"]]},{"id":"f7713646.789c68","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Congratulations Your Github Repo has reached a new Milestone {{ states.sensor.stars.state }} stars!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":1540,"wires":[[]]},{"id":"8739b735.631f08","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":1420,"wires":[[]]},{"id":"1d90e54c.e481bb","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Congratulations Your Github Repo has reached a new Milestone {{ payload }} stars!","output":"str","x":1060,"y":1420,"wires":[["b2aecb5f.9d4e98"]]},{"id":"b2aecb5f.9d4e98","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1500,"wires":[["8739b735.631f08"]]},{"id":"2d909cc0.408a64","type":"trigger-state","z":"b2df1e99.f0973","name":"New Github Subscriber","server":"4d97f48a.5f4fac","entityid":"sensor.subscribers","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":1720,"wires":[["975731b4.2669b"],[]]},{"id":"fa331ab7.cc6658","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1720,"wires":[["e8fdb67e.d3b978"],["ad346180.48557"]]},{"id":"e8fdb67e.d3b978","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Your Github Repo now has {{ states.sensor.stars.state }} subscribers!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":1640,"wires":[[]]},{"id":"ad346180.48557","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":720,"y":1780,"wires":[["5a9003e9.5189dc"],["d3d7d52c.6869e8"]]},{"id":"d3d7d52c.6869e8","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Congratulations Your Github Repo has reached a new Milestone {{ states.sensor.subscribers.state }} subscribers!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":1840,"wires":[[]]},{"id":"7cfa1004.b63c1","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":1700,"wires":[[]]},{"id":"38828330.25a08c","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Congratulations Your Github Repo has reached a new Milestone {{ payload }} subscribers!","output":"str","x":1080,"y":1700,"wires":[["9696eda6.46228"]]},{"id":"9696eda6.46228","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1800,"wires":[["7cfa1004.b63c1"]]},{"id":"aa901005.8d831","type":"trigger-state","z":"b2df1e99.f0973","name":"New Github Fork","server":"4d97f48a.5f4fac","entityid":"sensor.forks","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":2020,"wires":[["fee8ed5.24ab61"],[]]},{"id":"1cafeef4.dfc631","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2020,"wires":[["29af113f.f7ba8e"],["bf755915.2c0348"]]},{"id":"29af113f.f7ba8e","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Your Github Repo now has {{ states.sensor.forks.state }} forks!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":1940,"wires":[[]]},{"id":"bf755915.2c0348","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":680,"y":2080,"wires":[["4ab07624.39f828"],["d0583a8d.341b88"]]},{"id":"d0583a8d.341b88","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Congratulations Your Github Repo has reached a new Milestone {{ states.sensor.forks.state }} forks!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":2140,"wires":[[]]},{"id":"6b295808.9cef08","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":2000,"wires":[[]]},{"id":"a8cc6827.d1e198","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Congratulations Your Github Repo has reached a new Milestone {{ payload }} forks!","output":"str","x":1060,"y":2000,"wires":[["a571f801.d47b38"]]},{"id":"a571f801.d47b38","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2080,"wires":[["6b295808.9cef08"]]},{"id":"8084f58.28f8b08","type":"trigger-state","z":"b2df1e99.f0973","name":"New Github Issue","server":"4d97f48a.5f4fac","entityid":"sensor.issues","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":2320,"wires":[["b6d7375d.0c3bc8"],[]]},{"id":"cdb47705.8ae468","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Your Github Repo now has {{ states.sensor.issues.state }} issues!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":2240,"wires":[[]]},{"id":"db2b546a.8cad58","type":"api-current-state","z":"b2df1e99.f0973","name":"James Home?","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":680,"y":2380,"wires":[["a5420e6c.f9d18"],["8397272a.8c8748"]]},{"id":"8397272a.8c8748","type":"api-call-service","z":"b2df1e99.f0973","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Congratulations Your Github Repo has reached a new Milestone under {{ states.sensor.issues.state }} issues!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":2440,"wires":[[]]},{"id":"d0859710.a30ab8","type":"api-call-service","z":"b2df1e99.f0973","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":2300,"wires":[[]]},{"id":"89084db4.aca01","type":"template","z":"b2df1e99.f0973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Congratulations Your Github Repo has reached a new Milestone under {{ payload }} issues!","output":"str","x":1040,"y":2300,"wires":[["b3aab3d4.9ae07"]]},{"id":"b3aab3d4.9ae07","type":"change","z":"b2df1e99.f0973","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2380,"wires":[["d0859710.a30ab8"]]},{"id":"e6d323b8.fcae2","type":"comment","z":"b2df1e99.f0973","name":"Github Notifications","info":"","x":150,"y":1280,"wires":[]},{"id":"b6d7375d.0c3bc8","type":"function","z":"b2df1e99.f0973","name":"< 10","func":"if (msg.payload < 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2320,"wires":[["686463e4.2fc5ac"]]},{"id":"686463e4.2fc5ac","type":"switch","z":"b2df1e99.f0973","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2320,"wires":[["cdb47705.8ae468"],["db2b546a.8cad58"]]},{"id":"fee8ed5.24ab61","type":"function","z":"b2df1e99.f0973","name":"== 25","func":"if (msg.payload == 25) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2020,"wires":[["1cafeef4.dfc631"]]},{"id":"975731b4.2669b","type":"function","z":"b2df1e99.f0973","name":"== 50","func":"if (msg.payload == 50) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1720,"wires":[["fa331ab7.cc6658"]]},{"id":"a4522e55.b4ff6","type":"function","z":"b2df1e99.f0973","name":"== 275","func":"if (msg.payload == 275) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1420,"wires":[["1e996e26.646692"]]},{"id":"72453025.28d38","type":"api-current-state","z":"b2df1e99.f0973","name":"New Star","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.stars","state_type":"str","outputs":1,"x":840,"y":1420,"wires":[["1d90e54c.e481bb"]]},{"id":"5a9003e9.5189dc","type":"api-current-state","z":"b2df1e99.f0973","name":"New Subscriber","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.subscribers","state_type":"str","outputs":1,"x":900,"y":1700,"wires":[["38828330.25a08c"]]},{"id":"4ab07624.39f828","type":"api-current-state","z":"b2df1e99.f0973","name":"New Fork","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.forks","state_type":"str","outputs":1,"x":840,"y":2000,"wires":[["a8cc6827.d1e198"]]},{"id":"a5420e6c.f9d18","type":"api-current-state","z":"b2df1e99.f0973","name":"New Issue","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.issues","state_type":"str","outputs":1,"x":850,"y":2300,"wires":[["89084db4.aca01"]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
