config/packages/garden/Node-RED-Flow/Node-RED-Flow
[{"id":"22a84a1e.710606","type":"tab","label":"Garden","disabled":false,"info":""},{"id":"32793e5.ac1dcc2","type":"trigger-state","z":"22a84a1e.710606","name":"Bougainvillea ","server":"4d97f48a.5f4fac","entityid":"sensor.bougainvillea_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":180,"wires":[["5a638c10.2f66a4"],[]]},{"id":"5a638c10.2f66a4","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["9891a1f1.0112a"]]},{"id":"ce3a2b0e.ac4398","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":790,"y":180,"wires":[["5673263c.ba3528"],["91033724.355528"]]},{"id":"9891a1f1.0112a","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":180,"wires":[["ce3a2b0e.ac4398"]]},{"id":"5673263c.ba3528","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Bougainvillea Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":180,"wires":[[]]},{"id":"98851e4d.53523","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":300,"wires":[[]]},{"id":"91033724.355528","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1050,"y":240,"wires":[["5673263c.ba3528"],["864fffd7.97be8"]]},{"id":"25170089.b2921","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Bougainvillea Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1080,"y":420,"wires":[["e911aaaa.5c13a8"]]},{"id":"e911aaaa.5c13a8","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":420,"wires":[["98851e4d.53523"]]},{"id":"864fffd7.97be8","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bougainvillea_moisture","state_type":"str","outputs":1,"x":1060,"y":320,"wires":[["25170089.b2921"]]},{"id":"920a982d.dfd328","type":"trigger-state","z":"22a84a1e.710606","name":"Chilli","server":"4d97f48a.5f4fac","entityid":"sensor.chilli_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":560,"wires":[["4f0e28e3.b80078"],[]]},{"id":"4f0e28e3.b80078","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":560,"wires":[["d26f6583.c153d8"]]},{"id":"5ca8a503.fc4e0c","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":800,"y":560,"wires":[["b2c48478.5342c8"],["1a01f827.0ff498"]]},{"id":"d26f6583.c153d8","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":560,"wires":[["5ca8a503.fc4e0c"]]},{"id":"b2c48478.5342c8","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Chilli Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":560,"wires":[[]]},{"id":"bbd183b7.38d2e","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1340,"y":680,"wires":[[]]},{"id":"1a01f827.0ff498","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1060,"y":620,"wires":[["b2c48478.5342c8"],["7246cb96.97cf14"]]},{"id":"e9cfa290.55443","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Chilli Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1090,"y":800,"wires":[["508c3f47.33ac1"]]},{"id":"508c3f47.33ac1","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":800,"wires":[["bbd183b7.38d2e"]]},{"id":"7246cb96.97cf14","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.chilli_moisture","state_type":"str","outputs":1,"x":1070,"y":700,"wires":[["e9cfa290.55443"]]},{"id":"27fee74e.f75918","type":"trigger-state","z":"22a84a1e.710606","name":"Citrus Garden Bed","server":"4d97f48a.5f4fac","entityid":"sensor.citrus_bed_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":920,"wires":[["92570c9c.6aead"],[]]},{"id":"92570c9c.6aead","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":920,"wires":[["e9d290b0.39d14"]]},{"id":"2394152d.57b3fa","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":800,"y":920,"wires":[["dbf16623.931bd8"],["f103c718.9f4968"]]},{"id":"e9d290b0.39d14","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":920,"wires":[["2394152d.57b3fa"]]},{"id":"dbf16623.931bd8","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Citrus Garden Bed Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":920,"wires":[[]]},{"id":"a6bab929.8bf278","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1340,"y":1040,"wires":[[]]},{"id":"f103c718.9f4968","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1060,"y":980,"wires":[["dbf16623.931bd8"],["3d3934b9.75179c"]]},{"id":"e6782963.9c8138","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Citrus Garden Bed Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1090,"y":1160,"wires":[["87180521.40a9a8"]]},{"id":"87180521.40a9a8","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1160,"wires":[["a6bab929.8bf278"]]},{"id":"3d3934b9.75179c","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.citrus_bed_moisture","state_type":"str","outputs":1,"x":1070,"y":1060,"wires":[["e6782963.9c8138"]]},{"id":"90c00ff6.60d87","type":"trigger-state","z":"22a84a1e.710606","name":"Front Door Plant","server":"4d97f48a.5f4fac","entityid":"sensor.front_door_plant_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":1280,"wires":[["5c70e086.5781"],[]]},{"id":"5c70e086.5781","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1280,"wires":[["f5ded095.96a52"]]},{"id":"e3682e5f.cde69","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":800,"y":1280,"wires":[["238222a.1b76dde"],["8dd69653.2c06c8"]]},{"id":"f5ded095.96a52","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1280,"wires":[["e3682e5f.cde69"]]},{"id":"238222a.1b76dde","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Front Door Plant Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":1280,"wires":[[]]},{"id":"a6b208a3.0251c8","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1340,"y":1400,"wires":[[]]},{"id":"8dd69653.2c06c8","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1060,"y":1340,"wires":[["238222a.1b76dde"],["9acff412.839298"]]},{"id":"76f1aebb.b35a","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Front Door Plant Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1090,"y":1520,"wires":[["e531223c.479d9"]]},{"id":"e531223c.479d9","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1520,"wires":[["a6b208a3.0251c8"]]},{"id":"9acff412.839298","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.front_door_plant_moisture","state_type":"str","outputs":1,"x":1070,"y":1420,"wires":[["76f1aebb.b35a"]]},{"id":"e2653897.7795f8","type":"trigger-state","z":"22a84a1e.710606","name":"Star Jasmine","server":"4d97f48a.5f4fac","entityid":"sensor.star_jasmine_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":1640,"wires":[["a42cfc43.696e"],[]]},{"id":"a42cfc43.696e","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1640,"wires":[["3fe68da0.038902"]]},{"id":"546bbe24.f0483","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":820,"y":1640,"wires":[["dd5da56d.c3e888"],["84391495.9bd978"]]},{"id":"3fe68da0.038902","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1640,"wires":[["546bbe24.f0483"]]},{"id":"dd5da56d.c3e888","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Star Jasmine Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":1640,"wires":[[]]},{"id":"13f4dfe3.8b181","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1360,"y":1760,"wires":[[]]},{"id":"84391495.9bd978","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1080,"y":1700,"wires":[["dd5da56d.c3e888"],["aac29dd9.d5d9e"]]},{"id":"10f2c10f.6d90af","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Star Jasmine Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1110,"y":1880,"wires":[["56f03185.206cc"]]},{"id":"56f03185.206cc","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1880,"wires":[["13f4dfe3.8b181"]]},{"id":"aac29dd9.d5d9e","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.star_jasmine_moisture","state_type":"str","outputs":1,"x":1090,"y":1780,"wires":[["10f2c10f.6d90af"]]},{"id":"9711fdcf.10ea4","type":"trigger-state","z":"22a84a1e.710606","name":"Top Garden Bed","server":"4d97f48a.5f4fac","entityid":"sensor.top_bed_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":240,"y":2060,"wires":[["a6634d93.78bf5"],[]]},{"id":"a6634d93.78bf5","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2060,"wires":[["67a084b3.b6f5fc"]]},{"id":"984c9d52.e41e9","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":840,"y":2060,"wires":[["afa8beb.22e134"],["fda22ebc.8b6bd"]]},{"id":"67a084b3.b6f5fc","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":2060,"wires":[["984c9d52.e41e9"]]},{"id":"afa8beb.22e134","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Top Garden Bed Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1320,"y":2060,"wires":[[]]},{"id":"a91c7388.e3788","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1380,"y":2180,"wires":[[]]},{"id":"fda22ebc.8b6bd","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1100,"y":2120,"wires":[["afa8beb.22e134"],["d7c96d06.e3786"]]},{"id":"2319eaf0.2c2186","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Top Garden Bed Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1130,"y":2300,"wires":[["778d0d52.f5bf94"]]},{"id":"778d0d52.f5bf94","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":2300,"wires":[["a91c7388.e3788"]]},{"id":"d7c96d06.e3786","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.top_bed_moisture","state_type":"str","outputs":1,"x":1110,"y":2200,"wires":[["2319eaf0.2c2186"]]},{"id":"c11bb668.115848","type":"trigger-state","z":"22a84a1e.710606","name":"Veggie Patch","server":"4d97f48a.5f4fac","entityid":"sensor.veggie_patch_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":250,"y":2420,"wires":[["ab9a47b7.1a8a48"],[]]},{"id":"ab9a47b7.1a8a48","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2420,"wires":[["b381d425.6591c8"]]},{"id":"a974ac1.2285a5","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":860,"y":2420,"wires":[["5ad4efc8.29861"],["94740919.16a308"]]},{"id":"b381d425.6591c8","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2420,"wires":[["a974ac1.2285a5"]]},{"id":"5ad4efc8.29861","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Veggie Patch Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1340,"y":2420,"wires":[[]]},{"id":"42f56157.fd66b","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1400,"y":2540,"wires":[[]]},{"id":"94740919.16a308","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1120,"y":2480,"wires":[["5ad4efc8.29861"],["bd6fbcf7.b96c5"]]},{"id":"5c25ad15.ed36c4","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Veggie Patch Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1150,"y":2660,"wires":[["9af11ca5.a6c8"]]},{"id":"9af11ca5.a6c8","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":2660,"wires":[["42f56157.fd66b"]]},{"id":"bd6fbcf7.b96c5","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.veggie_patch_moisture","state_type":"str","outputs":1,"x":1130,"y":2560,"wires":[["5c25ad15.ed36c4"]]},{"id":"2a8b0e8d.c23292","type":"trigger-state","z":"22a84a1e.710606","name":"Indoor Plant","server":"4d97f48a.5f4fac","entityid":"sensor.dracaena_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":2800,"wires":[["c5901298.b7804"],[]]},{"id":"c5901298.b7804","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2800,"wires":[["c3d3f6c1.5eede8"]]},{"id":"66d2d514.2caa9c","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":880,"y":2800,"wires":[["323894d.42ccc6c"],["2adb32bb.8dbb4e"]]},{"id":"c3d3f6c1.5eede8","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":2800,"wires":[["66d2d514.2caa9c"]]},{"id":"323894d.42ccc6c","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Indoor Plant Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1360,"y":2800,"wires":[[]]},{"id":"74a4cb69.350464","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1420,"y":2920,"wires":[[]]},{"id":"2adb32bb.8dbb4e","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1140,"y":2860,"wires":[["323894d.42ccc6c"],["974e9bf3.ed9298"]]},{"id":"10656bf.f1fa594","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Indoor Plant Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1170,"y":3040,"wires":[["6f8a8a89.406c34"]]},{"id":"6f8a8a89.406c34","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3040,"wires":[["74a4cb69.350464"]]},{"id":"974e9bf3.ed9298","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.dracaena_moisture","state_type":"str","outputs":1,"x":1150,"y":2940,"wires":[["10656bf.f1fa594"]]},{"id":"cc83a2da.7896a","type":"trigger-state","z":"22a84a1e.710606","name":"Bathroom Fern","server":"4d97f48a.5f4fac","entityid":"sensor.bathroom_fern_moisture","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":300,"y":3140,"wires":[["dc4a6566.b97a58"],[]]},{"id":"dc4a6566.b97a58","type":"function","z":"22a84a1e.710606","name":"< 10","func":"if (msg.payload <= 10) {\n  msg.payload = 1\n} else {\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":3140,"wires":[["5ac646e5.6ff9f8"]]},{"id":"f4e957c8.4c46e8","type":"api-current-state","z":"22a84a1e.710606","name":"James Home","server":"4d97f48a.5f4fac","halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"sensor.james","state_type":"str","outputs":2,"x":900,"y":3140,"wires":[["65687d97.290ef4"],["8755f22b.dfdcd"]]},{"id":"5ac646e5.6ff9f8","type":"switch","z":"22a84a1e.710606","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":3140,"wires":[["f4e957c8.4c46e8"]]},{"id":"65687d97.290ef4","type":"api-call-service","z":"22a84a1e.710606","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"Attention Your Bathroom Fern Moisture is now {{ states.sensor.bougainvillea_moisture.state }}%\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1380,"y":3140,"wires":[[]]},{"id":"f78e5f90.4967f","type":"api-call-service","z":"22a84a1e.710606","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"{{payload}}\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1440,"y":3260,"wires":[[]]},{"id":"8755f22b.dfdcd","type":"time-range-switch","z":"22a84a1e.710606","name":"6:00pm - 4:00pm","lat":"","lon":"","startTime":"18:00","endTime":"16:00","startOffset":"","endOffset":"","x":1160,"y":3200,"wires":[["65687d97.290ef4"],["157e4832.8bf968"]]},{"id":"69607434.0e630c","type":"template","z":"22a84a1e.710606","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attention Your Bathroom Fern Moisture is now {{ payload }}%, You should water the garden tonight!","output":"str","x":1190,"y":3380,"wires":[["64ce8116.92119"]]},{"id":"64ce8116.92119","type":"change","z":"22a84a1e.710606","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":3380,"wires":[["f78e5f90.4967f"]]},{"id":"157e4832.8bf968","type":"api-current-state","z":"22a84a1e.710606","name":"Moisture Level","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.bathroom_fern_moisture","state_type":"str","outputs":1,"x":1170,"y":3280,"wires":[["69607434.0e630c"]]},{"id":"268273ae.ce437c","type":"comment","z":"22a84a1e.710606","name":"Plant Monitoring","info":"","x":180,"y":60,"wires":[]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
