config/packages/garden/Node-RED-Flow/Node-RED-Flow
[{"id":"c991ad02.5390d","type":"tab","label":"Garden","disabled":false,"info":""},{"id":"ca026cbf.01865","type":"mqtt in","z":"c991ad02.5390d","name":"Dracaena","topic":"miflora/dracaena","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":140,"y":720,"wires":[["53d6822c.24bb9c","d6443d64.45c17"]]},{"id":"53d6822c.24bb9c","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":720,"wires":[["402d5c34.479224","be78c827.e23b28","127f04e0.f2d6eb","1b64ae87.8bd4e1","9a606ea7.c8178"]]},{"id":"402d5c34.479224","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":720,"wires":[["4604af89.a0bbf"]]},{"id":"4604af89.a0bbf","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":920,"y":720,"wires":[]},{"id":"be78c827.e23b28","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":780,"wires":[["987f442.926f8b8"]]},{"id":"987f442.926f8b8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":780,"wires":[]},{"id":"127f04e0.f2d6eb","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":840,"wires":[["4a481aa4.1787d4"]]},{"id":"4a481aa4.1787d4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":840,"wires":[]},{"id":"1b64ae87.8bd4e1","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":900,"wires":[["d2b59f07.5f51c"]]},{"id":"d2b59f07.5f51c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":900,"wires":[]},{"id":"9a606ea7.c8178","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":960,"wires":[["f4a89b79.05f488"]]},{"id":"f4a89b79.05f488","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":960,"wires":[]},{"id":"891717e1.ded008","type":"mqtt in","z":"c991ad02.5390d","name":"","topic":"miflora/$announce","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":170,"y":60,"wires":[["3a9f00d5.8829b"]]},{"id":"308e2a87.b1cd86","type":"mqtt in","z":"c991ad02.5390d","name":"Fiddle Leaf Fig","topic":"miflora/fiddle_leaf_fig","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1360,"y":720,"wires":[["10f298ff.502897","5038cd4.dfa4334"]]},{"id":"10f298ff.502897","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":720,"wires":[["f1a281a3.caa54","64334b0f.da09e4","4fc02f1b.85e16","b8cab076.f23f","f1dbbaa6.ffdaf8"]]},{"id":"f1a281a3.caa54","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1820,"y":720,"wires":[["120ea5e7.ab89aa"]]},{"id":"120ea5e7.ab89aa","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":720,"wires":[]},{"id":"64334b0f.da09e4","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1820,"y":780,"wires":[["a699d5a1.a166b8"]]},{"id":"a699d5a1.a166b8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":780,"wires":[]},{"id":"4fc02f1b.85e16","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1820,"y":840,"wires":[["cc5f5a4a.414938"]]},{"id":"cc5f5a4a.414938","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":840,"wires":[]},{"id":"b8cab076.f23f","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1820,"y":900,"wires":[["1a6980de.de377f"]]},{"id":"1a6980de.de377f","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":900,"wires":[]},{"id":"f1dbbaa6.ffdaf8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1820,"y":960,"wires":[["aa719483.dd4498"]]},{"id":"aa719483.dd4498","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":960,"wires":[]},{"id":"6f0d1520.0be5ac","type":"mqtt in","z":"c991ad02.5390d","name":"Front Door Plant","topic":"miflora/front_door_plant","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":160,"y":1140,"wires":[["5ccdb0d9.d0a55","dd6e2b23.050638"]]},{"id":"5ccdb0d9.d0a55","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1140,"wires":[["704f0687.af2658","6881e758.8f8508","1715de88.07c2d1","3c2b7798.623f18","7589d92f.9cd938"]]},{"id":"704f0687.af2658","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":1140,"wires":[["b332833f.ad13f"]]},{"id":"b332833f.ad13f","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":1140,"wires":[]},{"id":"6881e758.8f8508","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":1200,"wires":[["3c1b7fd0.14d14"]]},{"id":"3c1b7fd0.14d14","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":1200,"wires":[]},{"id":"1715de88.07c2d1","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":1260,"wires":[["e0f1e798.1db4c8"]]},{"id":"e0f1e798.1db4c8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":1260,"wires":[]},{"id":"3c2b7798.623f18","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":1320,"wires":[["de2bee06.03f4d"]]},{"id":"de2bee06.03f4d","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":970,"y":1320,"wires":[]},{"id":"7589d92f.9cd938","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":1380,"wires":[["68d9c187.8e6d"]]},{"id":"68d9c187.8e6d","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":970,"y":1380,"wires":[]},{"id":"1a6e0c16.149554","type":"mqtt in","z":"c991ad02.5390d","name":"Rose Garden","topic":"miflora/rose_garden","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1350,"y":1140,"wires":[["83a8eacf.f730b8","aa952d1b.dcdd3"]]},{"id":"83a8eacf.f730b8","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":1140,"wires":[["b48b5c5a.e7612","84cc5e80.53472","ac87d09d.ba50a","6e2fec97.977904","2db5e3db.ae854c"]]},{"id":"b48b5c5a.e7612","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1820,"y":1140,"wires":[["fab5672.024b598"]]},{"id":"fab5672.024b598","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2130,"y":1140,"wires":[]},{"id":"84cc5e80.53472","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1820,"y":1200,"wires":[["66f893db.d8c3ec"]]},{"id":"66f893db.d8c3ec","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":1200,"wires":[]},{"id":"ac87d09d.ba50a","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1820,"y":1260,"wires":[["892afa87.228ea8"]]},{"id":"892afa87.228ea8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":1260,"wires":[]},{"id":"6e2fec97.977904","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1820,"y":1320,"wires":[["aef47294.3339c"]]},{"id":"aef47294.3339c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":1320,"wires":[]},{"id":"2db5e3db.ae854c","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1820,"y":1380,"wires":[["d9545eb4.51c84"]]},{"id":"d9545eb4.51c84","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":1380,"wires":[]},{"id":"5b4fb70d.393438","type":"mqtt in","z":"c991ad02.5390d","name":"Front Flower Pot","topic":"miflora/front_flower_pot","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":160,"y":1560,"wires":[["ffe0a5b9.6fddf8","5909ea4f.5bce04"]]},{"id":"ffe0a5b9.6fddf8","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1560,"wires":[["70f0bda9.4f0a24","597ef62e.c650a8","aa05114d.bd518","6b80307f.c435d","183bb147.d8ac8f"]]},{"id":"70f0bda9.4f0a24","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":1560,"wires":[["3e818b63.e52834"]]},{"id":"3e818b63.e52834","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":1560,"wires":[]},{"id":"597ef62e.c650a8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":1620,"wires":[["55c84a65.184134"]]},{"id":"55c84a65.184134","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":1620,"wires":[]},{"id":"aa05114d.bd518","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":1680,"wires":[["fe12d003.c1d6f"]]},{"id":"fe12d003.c1d6f","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":1680,"wires":[]},{"id":"6b80307f.c435d","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":1740,"wires":[["d0c3a88a.d14098"]]},{"id":"d0c3a88a.d14098","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":970,"y":1740,"wires":[]},{"id":"183bb147.d8ac8f","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":1800,"wires":[["ca695005.57f21"]]},{"id":"ca695005.57f21","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":970,"y":1800,"wires":[]},{"id":"408680ea.f8455","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.dracaena.firmware}} ","output":"str","x":820,"y":60,"wires":[["b4c2d4b3.de9ce8"]]},{"id":"3a9f00d5.8829b","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":410,"y":60,"wires":[["8c92819c.c9637"]]},{"id":"edd643cb.809a4","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.fiddle_leaf_fig.firmware}} ","output":"str","x":820,"y":100,"wires":[["922a0d98.64622"]]},{"id":"1c24e439.04487c","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.front_door_plant.firmware}} ","output":"str","x":820,"y":140,"wires":[["763da8f3.fac6a8"]]},{"id":"eb2ace35.c4f7a","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.frangipani_bed.firmware}} ","output":"str","x":820,"y":180,"wires":[["96d1bae5.f60968"]]},{"id":"621c3e3.5902dc","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.front_flower_pot.firmware}} ","output":"str","x":820,"y":220,"wires":[["1cfb2bf9.119844"]]},{"id":"b4c2d4b3.de9ce8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1140,"y":60,"wires":[]},{"id":"922a0d98.64622","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1150,"y":100,"wires":[]},{"id":"763da8f3.fac6a8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1160,"y":140,"wires":[]},{"id":"96d1bae5.f60968","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1150,"y":180,"wires":[]},{"id":"1cfb2bf9.119844","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1160,"y":220,"wires":[]},{"id":"76118874.01ab78","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.bougainvillea.firmware}} ","output":"str","x":820,"y":260,"wires":[["b685a237.b2b8c"]]},{"id":"b685a237.b2b8c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1150,"y":260,"wires":[]},{"id":"585cf732.391d28","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.star_jasmine.firmware}} ","output":"str","x":820,"y":300,"wires":[["3d8141a7.73466e"]]},{"id":"3d8141a7.73466e","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1150,"y":300,"wires":[]},{"id":"f0ef2f2a.74678","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.flower_bed.firmware}} ","output":"str","x":820,"y":340,"wires":[["8262649e.9676c8"]]},{"id":"8262649e.9676c8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1140,"y":340,"wires":[]},{"id":"fb470d13.99b87","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.hydrangea.firmware}} ","output":"str","x":820,"y":380,"wires":[["aa142fa6.b8e0d"]]},{"id":"aa142fa6.b8e0d","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1140,"y":380,"wires":[]},{"id":"b096d615.8b7658","type":"mqtt in","z":"c991ad02.5390d","name":"Bougainvillea","topic":"miflora/bougainvillea","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1350,"y":1560,"wires":[["a5cdd22b.0456d","386342c3.b92cce"]]},{"id":"a5cdd22b.0456d","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":1560,"wires":[["61310ee9.72cf9","d6a97481.5380d8","843101ca.2a177","97265c87.2d051","f343dc.2091cc28"]]},{"id":"61310ee9.72cf9","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1820,"y":1560,"wires":[["f70d2467.ec2858"]]},{"id":"f70d2467.ec2858","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2130,"y":1560,"wires":[]},{"id":"d6a97481.5380d8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1820,"y":1620,"wires":[["b64f6130.1ff2f"]]},{"id":"b64f6130.1ff2f","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":1620,"wires":[]},{"id":"843101ca.2a177","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1820,"y":1680,"wires":[["507522c4.c6414c"]]},{"id":"507522c4.c6414c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":1680,"wires":[]},{"id":"97265c87.2d051","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1820,"y":1740,"wires":[["7a45ab7a.b327b4"]]},{"id":"7a45ab7a.b327b4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":1740,"wires":[]},{"id":"f343dc.2091cc28","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1820,"y":1800,"wires":[["ef61f72b.bee3a8"]]},{"id":"ef61f72b.bee3a8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":1800,"wires":[]},{"id":"2a614c26.102184","type":"mqtt in","z":"c991ad02.5390d","name":"Star Jasmine","topic":"miflora/star_jasmine","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":150,"y":1980,"wires":[["eae4b381.63846","d0e42fa2.64a1"]]},{"id":"eae4b381.63846","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1980,"wires":[["65668b4c.60c294","303c8169.3bc8fe","d5a54822.c8b148","325c553b.52b81a","8a92964f.9c6e58"]]},{"id":"65668b4c.60c294","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":1980,"wires":[["e16c4add.faff48"]]},{"id":"e16c4add.faff48","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":1980,"wires":[]},{"id":"303c8169.3bc8fe","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":2040,"wires":[["f4d6804b.17703"]]},{"id":"f4d6804b.17703","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":2040,"wires":[]},{"id":"d5a54822.c8b148","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":2100,"wires":[["7abbc0b8.1574e"]]},{"id":"7abbc0b8.1574e","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":2100,"wires":[]},{"id":"325c553b.52b81a","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":2160,"wires":[["9f5d15af.d5eb98"]]},{"id":"9f5d15af.d5eb98","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":2160,"wires":[]},{"id":"8a92964f.9c6e58","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":2220,"wires":[["55b97681.9845c8"]]},{"id":"55b97681.9845c8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":2220,"wires":[]},{"id":"caf414f4.6dfd88","type":"mqtt in","z":"c991ad02.5390d","name":"Flower Bed","topic":"miflora/flower_bed","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1350,"y":1980,"wires":[["d72ec326.68208","b3ad093c.fc8f48"]]},{"id":"d72ec326.68208","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":1980,"wires":[["47215cb6.afea14","dfbe2561.9aa428","f98b470a.daa9e8","ecf21a9b.cea008","dcdf52fa.305b8"]]},{"id":"47215cb6.afea14","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1820,"y":1980,"wires":[["28227f71.332f6"]]},{"id":"28227f71.332f6","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2130,"y":1980,"wires":[]},{"id":"dfbe2561.9aa428","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1820,"y":2040,"wires":[["a35f46a9.e36f38"]]},{"id":"a35f46a9.e36f38","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":2040,"wires":[]},{"id":"f98b470a.daa9e8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1820,"y":2100,"wires":[["58a4c405.892d1c"]]},{"id":"58a4c405.892d1c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":2100,"wires":[]},{"id":"ecf21a9b.cea008","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1820,"y":2160,"wires":[["4d2b85f3.acd76c"]]},{"id":"4d2b85f3.acd76c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":2160,"wires":[]},{"id":"dcdf52fa.305b8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1820,"y":2220,"wires":[["e5ed98e8.4c20b8"]]},{"id":"e5ed98e8.4c20b8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":2220,"wires":[]},{"id":"abad15ee.1d68e8","type":"mqtt in","z":"c991ad02.5390d","name":"Citrus Bed","topic":"miflora/citrus_bed","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":140,"y":2400,"wires":[["179d97f.7303268","140febbe.8c21f4"]]},{"id":"179d97f.7303268","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":2400,"wires":[["37b9293b.a3a856","93363322.9f6bd","1ec99659.481eaa","3e3ff6bb.e0414a","5b87003d.84a92"]]},{"id":"37b9293b.a3a856","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":2400,"wires":[["35964a07.77ac06"]]},{"id":"35964a07.77ac06","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":2400,"wires":[]},{"id":"93363322.9f6bd","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":2460,"wires":[["a1ccc80f.37f7e8"]]},{"id":"a1ccc80f.37f7e8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":2460,"wires":[]},{"id":"1ec99659.481eaa","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":2520,"wires":[["7d791185.7aa79"]]},{"id":"7d791185.7aa79","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":2520,"wires":[]},{"id":"3e3ff6bb.e0414a","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":2580,"wires":[["7bc8cc71.a04cf4"]]},{"id":"7bc8cc71.a04cf4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":2580,"wires":[]},{"id":"5b87003d.84a92","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":2640,"wires":[["fb4631b6.18956"]]},{"id":"fb4631b6.18956","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":2640,"wires":[]},{"id":"d6443d64.45c17","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":660,"wires":[["1f804922.07bfd7"]]},{"id":"1f804922.07bfd7","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/dracaena_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":660,"wires":[]},{"id":"5038cd4.dfa4334","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":660,"wires":[["1ef05b01.c35ef5"]]},{"id":"1ef05b01.c35ef5","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/fiddle_leaf_fig_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2160,"y":660,"wires":[]},{"id":"dd6e2b23.050638","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":1080,"wires":[["bf9b461c.870708"]]},{"id":"bf9b461c.870708","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_door_plant_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":1080,"wires":[]},{"id":"aa952d1b.dcdd3","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":1080,"wires":[["ebeab316.54082"]]},{"id":"ebeab316.54082","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/rose_garden_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":1080,"wires":[]},{"id":"5909ea4f.5bce04","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":1500,"wires":[["d438176e.63a7d8"]]},{"id":"d438176e.63a7d8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/front_flower_pot_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":960,"y":1500,"wires":[]},{"id":"8c92819c.c9637","type":"switch","z":"c991ad02.5390d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":60,"wires":[["408680ea.f8455","edd643cb.809a4","1c24e439.04487c","eb2ace35.c4f7a","621c3e3.5902dc","76118874.01ab78","585cf732.391d28","f0ef2f2a.74678","fb470d13.99b87","8b2c40c9.34fe5","38845d1b.7bc4b2"]]},{"id":"386342c3.b92cce","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":1500,"wires":[["a1cea94e.ed0f88"]]},{"id":"a1cea94e.ed0f88","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/bougainvillea_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":1500,"wires":[]},{"id":"d0e42fa2.64a1","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":1920,"wires":[["b8c8ad60.298be"]]},{"id":"b8c8ad60.298be","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/star_jasmine_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":1920,"wires":[]},{"id":"b3ad093c.fc8f48","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":1920,"wires":[["c4127512.caaa88"]]},{"id":"c4127512.caaa88","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/flower_bed_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2150,"y":1920,"wires":[]},{"id":"360fc7c9.900fe8","type":"mqtt in","z":"c991ad02.5390d","name":"Proteas","topic":"miflora/proteas","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1330,"y":2400,"wires":[["5a144016.77699","6a82df18.54052"]]},{"id":"5a144016.77699","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":2400,"wires":[["ddd23963.b53f08","ffb9ff.6b38b6","415b501f.1eb0e","f32a7f0e.84284","36c1104d.2d7d8"]]},{"id":"ddd23963.b53f08","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1820,"y":2400,"wires":[["221be34c.9997ec"]]},{"id":"221be34c.9997ec","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2120,"y":2400,"wires":[]},{"id":"ffb9ff.6b38b6","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1820,"y":2460,"wires":[["4e94c8d9.927168"]]},{"id":"4e94c8d9.927168","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2120,"y":2460,"wires":[]},{"id":"415b501f.1eb0e","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1820,"y":2520,"wires":[["354abc75.d4fbc4"]]},{"id":"354abc75.d4fbc4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2130,"y":2520,"wires":[]},{"id":"f32a7f0e.84284","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1820,"y":2580,"wires":[["e3d9784b.8fd6f8"]]},{"id":"e3d9784b.8fd6f8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":2580,"wires":[]},{"id":"36c1104d.2d7d8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1820,"y":2640,"wires":[["fc1e8652.10eb18"]]},{"id":"fc1e8652.10eb18","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":2640,"wires":[]},{"id":"140febbe.8c21f4","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":2340,"wires":[["f552003a.90e1b"]]},{"id":"f552003a.90e1b","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":2340,"wires":[]},{"id":"6a82df18.54052","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":2340,"wires":[["169de113.8445af"]]},{"id":"169de113.8445af","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2140,"y":2340,"wires":[]},{"id":"cd3e9ce5.f4c98","type":"mqtt in","z":"c991ad02.5390d","name":"Hydrangea","topic":"miflora/hydrangea","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":140,"y":2820,"wires":[["7b4ec3f7.afc66c","958c15d6.d6d088"]]},{"id":"7b4ec3f7.afc66c","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":390,"y":2820,"wires":[["50eedfcd.ecc91","9587e338.13067","240ac9b0.5af136","d3e34c83.b520a","d7136908.455068"]]},{"id":"50eedfcd.ecc91","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":620,"y":2820,"wires":[["5ebd7cea.dc2ca4"]]},{"id":"5ebd7cea.dc2ca4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":2820,"wires":[]},{"id":"9587e338.13067","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":620,"y":2880,"wires":[["66322d5a.ab7c44"]]},{"id":"66322d5a.ab7c44","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":930,"y":2880,"wires":[]},{"id":"240ac9b0.5af136","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":620,"y":2940,"wires":[["b62d4de8.74e2c"]]},{"id":"b62d4de8.74e2c","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":940,"y":2940,"wires":[]},{"id":"d3e34c83.b520a","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":620,"y":3000,"wires":[["80fe3dca.df1ea"]]},{"id":"80fe3dca.df1ea","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":3000,"wires":[]},{"id":"d7136908.455068","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":620,"y":3060,"wires":[["a9a96dfc.de7c8"]]},{"id":"a9a96dfc.de7c8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":3060,"wires":[]},{"id":"958c15d6.d6d088","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":2760,"wires":[["9d579f43.489b1"]]},{"id":"9d579f43.489b1","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/hydrangea_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":950,"y":2760,"wires":[]},{"id":"e5b9cc69.baa6a","type":"mqtt in","z":"c991ad02.5390d","name":"Veggie Patch","topic":"miflora/veggie_patch","qos":"2","datatype":"auto","broker":"7b0ebf15.c8825","x":1290,"y":2820,"wires":[["f84668bc.5d9938","d1956051.d04e7"]]},{"id":"f84668bc.5d9938","type":"json","z":"c991ad02.5390d","name":"","property":"payload","action":"","pretty":false,"x":1530,"y":2820,"wires":[["ee17bde7.e2182","1fffd422.a05b5c","289bdb43.ec6e54","f5dae098.395fa","8c3da66c.779da8"]]},{"id":"ee17bde7.e2182","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.light}} ","output":"str","x":1760,"y":2820,"wires":[["e10843ee.d233"]]},{"id":"e10843ee.d233","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_light","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2070,"y":2820,"wires":[]},{"id":"1fffd422.a05b5c","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.battery}} ","output":"str","x":1760,"y":2880,"wires":[["96eeced0.9b5df"]]},{"id":"96eeced0.9b5df","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_battery","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2080,"y":2880,"wires":[]},{"id":"289bdb43.ec6e54","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.moisture}} ","output":"str","x":1760,"y":2940,"wires":[["9156fa5e.b60af8"]]},{"id":"9156fa5e.b60af8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_moisture","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2090,"y":2940,"wires":[]},{"id":"f5dae098.395fa","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}} ","output":"str","x":1760,"y":3000,"wires":[["4fe6f657.85d6d8"]]},{"id":"4fe6f657.85d6d8","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_temperature","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2100,"y":3000,"wires":[]},{"id":"8c3da66c.779da8","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.conductivity}} ","output":"str","x":1760,"y":3060,"wires":[["75784b6d.d17ce4"]]},{"id":"75784b6d.d17ce4","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_conductivity","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2100,"y":3060,"wires":[]},{"id":"d1956051.d04e7","type":"api-current-state","z":"c991ad02.5390d","name":"Time","server":"a4d8ca7c.0aa6e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":2760,"wires":[["620c818e.61e56"]]},{"id":"620c818e.61e56","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/veggie_patch_last_report","qos":"","retain":"","broker":"7b0ebf15.c8825","x":2090,"y":2760,"wires":[]},{"id":"8b2c40c9.34fe5","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.hydrangea.firmware}} ","output":"str","x":820,"y":420,"wires":[["ca8c6bb9.c04768"]]},{"id":"ca8c6bb9.c04768","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/citrus_bed_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1140,"y":420,"wires":[]},{"id":"38845d1b.7bc4b2","type":"template","z":"c991ad02.5390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.hydrangea.firmware}} ","output":"str","x":820,"y":460,"wires":[["14ef7d23.375f83"]]},{"id":"14ef7d23.375f83","type":"mqtt out","z":"c991ad02.5390d","name":"","topic":"miflora/proteas_firmware","qos":"","retain":"","broker":"7b0ebf15.c8825","x":1130,"y":460,"wires":[]},{"id":"7b0ebf15.c8825","type":"mqtt-broker","z":"","name":"MQTT Server","broker":"10.0.20.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4d8ca7c.0aa6e8","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
