config/packages/lighting/Node-RED-Flow/Node-RED-Flow
[{"id":"8c6e8fa9.21169","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"2580886b.24c038","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":160,"wires":[["d55e0f03.b70b6"],[]]},{"id":"cd0f8bce.e5d768","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entrance_bulb\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":240,"wires":[[]]},{"id":"318d61b2.d29f5e","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance_bulb\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":160,"wires":[[]]},{"id":"40e3d179.81a6c","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Entry Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d0001e5d147","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":160,"wires":[["2580886b.24c038"]]},{"id":"72dffa07.f004d4","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":360,"wires":[["f75d632d.88f36"],[]]},{"id":"9cda655e.2fd3d8","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.patio_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":440,"wires":[[]]},{"id":"ccff9e46.27ecd","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.patio_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":360,"wires":[[]]},{"id":"98678f90.ec51c","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Patio Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d000200ea5b","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":360,"wires":[["72dffa07.f004d4"]]},{"id":"d55e0f03.b70b6","type":"time-range-switch","z":"8c6e8fa9.21169","name":"After Sunset","lat":"-28.1081439","lon":"153.4402859","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":"","x":530,"y":160,"wires":[["318d61b2.d29f5e"],[]]},{"id":"fb07c16c.81c6e","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Entry Switch Flipped On","server":"4d97f48a.5f4fac","entityidfilter":"sensor.entrance_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":240,"wires":[["34e10bf4.4a9a74"]]},{"id":"c8c9adcd.581fb","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Patio Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.patio_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":440,"wires":[["114d24ab.e9cceb"]]},{"id":"2cae0e3f.944882","type":"api-call-service","z":"8c6e8fa9.21169","name":"TV Back Light Off","server":"4d97f48a.5f4fac","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_7811dcfd812f\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":850,"y":2920,"wires":[[]]},{"id":"7b41ed3e.d137f4","type":"api-call-service","z":"8c6e8fa9.21169","name":"PC Back Light Off","server":"4d97f48a.5f4fac","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_7811dce13ad6\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":850,"y":2980,"wires":[[]]},{"id":"183ac8a0.91c617","type":"bigtimer","z":"8c6e8fa9.21169","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"-28.1081439","lon":"153.4402859","starttime":"1005","endtime":"1320","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":2880,"wires":[[],["ea56f712.716f18"],[]]},{"id":"ea56f712.716f18","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":2880,"wires":[["47a31b3e.e92e04","eecae9e6.15b6a8"],["2cae0e3f.944882","7b41ed3e.d137f4","b64bfd43.835f1","4fa24de4.88dac4","6fe4f943.c933c8","5f86c661.382708"]]},{"id":"5418db4d.9522b4","type":"api-call-service","z":"8c6e8fa9.21169","name":"Fairy Lights On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.fairy_light_power\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2540,"wires":[[]]},{"id":"4fa24de4.88dac4","type":"api-call-service","z":"8c6e8fa9.21169","name":"Fairy Lights Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.fairy_light_power\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":3040,"wires":[[]]},{"id":"e6bc29fa.26a908","type":"comment","z":"8c6e8fa9.21169","name":"External Lighting","info":"","x":160,"y":80,"wires":[]},{"id":"8721525c.f7a49","type":"comment","z":"8c6e8fa9.21169","name":"Mood Lighting","info":"","x":170,"y":2560,"wires":[]},{"id":"f75d632d.88f36","type":"time-range-switch","z":"8c6e8fa9.21169","name":"After Sunset","lat":"-28.1081439","lon":"153.4402859","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":"","x":530,"y":360,"wires":[["ccff9e46.27ecd"],[]]},{"id":"f5dd730b.4d178","type":"api-call-service","z":"8c6e8fa9.21169","name":"Backlights On","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.backlights_night\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2480,"wires":[[]]},{"id":"e6b8fbc8.8b1c28","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":560,"wires":[["9ee3ea66.a102e8"],[]]},{"id":"752a9ccd.291064","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.plug_158d00022ae143\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":640,"wires":[[]]},{"id":"aac17e72.fbdfc","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.plug_158d00022ae143\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":560,"wires":[[]]},{"id":"32c3f7db.1e3178","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Garage Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d0001fa41fd","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":560,"wires":[["e6b8fbc8.8b1c28"]]},{"id":"9f3fb80e.dbbb98","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Garage Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.garage_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":640,"wires":[["dc13f431.a69c88"]]},{"id":"9ee3ea66.a102e8","type":"time-range-switch","z":"8c6e8fa9.21169","name":"After Sunset","lat":"-28.1081439","lon":"153.4402859","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":"","x":530,"y":560,"wires":[["aac17e72.fbdfc"],[]]},{"id":"ad870959.0930e8","type":"switch","z":"8c6e8fa9.21169","name":"Garage Light Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d000120d624","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1840,"wires":[["4ec71afb.f8f994"]]},{"id":"4ec71afb.f8f994","type":"switch","z":"8c6e8fa9.21169","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":1840,"wires":[["9823fef7.2f15c"],[],[]]},{"id":"9823fef7.2f15c","type":"api-call-service","z":"8c6e8fa9.21169","name":"Light Toggle","server":"4d97f48a.5f4fac","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.plug_158d00022ae143\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":1840,"wires":[[]]},{"id":"f1a81a4e.a78208","type":"server-events","z":"8c6e8fa9.21169","name":"Events","server":"4d97f48a.5f4fac","event_type":"","x":130,"y":1840,"wires":[["ad870959.0930e8"]]},{"id":"2efaca8f.b33ac6","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Tree On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.plug_158d00022ae02a\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2780,"wires":[[]]},{"id":"7986714e.3015e","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Tree Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.plug_158d00022ae02a\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":3100,"wires":[[]]},{"id":"6e515272.ed32cc","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Front On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.plug_158d00022ae143\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2600,"wires":[[]]},{"id":"b64bfd43.835f1","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Stairs Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.plug_158d00022ae143\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":3160,"wires":[[]]},{"id":"7833ef40.da24b","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Stairs On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.rpi_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2840,"wires":[[]]},{"id":"6fe4f943.c933c8","type":"api-call-service","z":"8c6e8fa9.21169","name":"XMAS Front Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.rpi_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":3220,"wires":[[]]},{"id":"29de30.fd5dd1d","type":"api-call-service","z":"8c6e8fa9.21169","name":"Fairy Light Front On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.fairy_light_front\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":860,"y":2660,"wires":[[]]},{"id":"5f86c661.382708","type":"api-call-service","z":"8c6e8fa9.21169","name":"Fairy Light Front Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.fairy_light_front\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":860,"y":3280,"wires":[[]]},{"id":"873dd9b1.9e9e98","type":"api-current-state","z":"8c6e8fa9.21169","name":"Routine On?","server":"4d97f48a.5f4fac","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.goodnight","state_type":"str","outputs":2,"x":370,"y":2780,"wires":[["2efaca8f.b33ac6","7833ef40.da24b"],[]]},{"id":"47a31b3e.e92e04","type":"time-range-switch","z":"8c6e8fa9.21169","name":"6pm - 10pm","lat":"","lon":"","startTime":"18:00","endTime":"22:00","startOffset":"","endOffset":"","x":510,"y":2580,"wires":[["f5dd730b.4d178","5418db4d.9522b4","6e515272.ed32cc","29de30.fd5dd1d","85e500a1.23f92"],[]]},{"id":"aabad6a7.6e14b8","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":740,"wires":[["681b41ac.4d43a"],[]]},{"id":"d4adbb0a.63a588","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.laundry_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":800,"wires":[[]]},{"id":"c57ccf77.11bef","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.laundry_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":740,"wires":[[]]},{"id":"3504784a.750558","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Playroom Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d0001e5cf11","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":740,"wires":[["aabad6a7.6e14b8"]]},{"id":"303f93.c62f006e","type":"trigger-state","z":"8c6e8fa9.21169","name":"Kitchen Light On","server":"4d97f48a.5f4fac","entityid":"switch.dining_light_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":1740,"wires":[["7705ddc8.3484d4"],[]]},{"id":"7705ddc8.3484d4","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1740,"wires":[["750c7c04.fe3f24"],["a0bdf945.c7f538"]]},{"id":"750c7c04.fe3f24","type":"api-call-service","z":"8c6e8fa9.21169","name":"Switch On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":530,"y":1700,"wires":[[]]},{"id":"a0bdf945.c7f538","type":"api-call-service","z":"8c6e8fa9.21169","name":"Switch Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":530,"y":1760,"wires":[[]]},{"id":"85e500a1.23f92","type":"api-call-service","z":"8c6e8fa9.21169","name":"Night Light On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.upstairs_toilet_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":2720,"wires":[[]]},{"id":"8dbc2834.2caa88","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":940,"wires":[["4730f285.32136c"],[]]},{"id":"5664ee9f.6c44f","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.bathroom_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1130,"y":1000,"wires":[[]]},{"id":"f899fe4e.167cc","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.bathroom_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":940,"wires":[[]]},{"id":"41e583de.efa30c","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Bathroom Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d000200e4ab","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":940,"wires":[["8dbc2834.2caa88"]]},{"id":"44e9d1fb.e6f7b","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Bathroom Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.bathroom_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":1000,"wires":[["98237fbf.6d63f"]]},{"id":"4730f285.32136c","type":"time-range-switch","z":"8c6e8fa9.21169","name":"5pm - 6am","lat":"-28.1081439","lon":"153.4402859","startTime":"17:00","endTime":"06:00","startOffset":"","endOffset":"","x":530,"y":940,"wires":[["f899fe4e.167cc"],[]]},{"id":"87ccb9a7.48e768","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":820,"wires":[["d4adbb0a.63a588","5cf1b181.7ddea"]]},{"id":"1b502e42.c967f2","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Playroom Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.playroom_no_motion_since","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":820,"wires":[["87ccb9a7.48e768"]]},{"id":"5cf1b181.7ddea","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.playroom_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":860,"wires":[[]]},{"id":"98237fbf.6d63f","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1000,"wires":[["a6d21e3a.2c3bd"]]},{"id":"dc13f431.a69c88","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":640,"wires":[["752a9ccd.291064"]]},{"id":"114d24ab.e9cceb","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":440,"wires":[["9cda655e.2fd3d8"]]},{"id":"34e10bf4.4a9a74","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":240,"wires":[["cd0f8bce.e5d768"]]},{"id":"4b19614.df9caa","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.master_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1320,"wires":[[]]},{"id":"a3726ae7.e5d308","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Bedroom Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.bedroom_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":1340,"wires":[["f4f0e8a6.719e48"]]},{"id":"f4f0e8a6.719e48","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"600","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1340,"wires":[["4b19614.df9caa","22a83eeb.328662"]]},{"id":"22a83eeb.328662","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.master_wardrobe_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1380,"wires":[[]]},{"id":"f2147048.a785d","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.jackson_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1460,"wires":[[]]},{"id":"848782a8.f2c15","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Jackson Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.jackson_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":1460,"wires":[["394632a0.72afee"]]},{"id":"394632a0.72afee","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"600","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1460,"wires":[["f2147048.a785d"]]},{"id":"681b41ac.4d43a","type":"time-range-switch","z":"8c6e8fa9.21169","name":"5pm - 6am","lat":"-28.1081439","lon":"153.4402859","startTime":"17:00","endTime":"06:00","startOffset":"","endOffset":"","x":570,"y":740,"wires":[["c57ccf77.11bef"],[]]},{"id":"afac47fe.328ca8","type":"trigger-state","z":"8c6e8fa9.21169","name":"Time","server":"4d97f48a.5f4fac","entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":1940,"wires":[["2d76f7d6.55ade8"],[]]},{"id":"2d76f7d6.55ade8","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"06:00","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":360,"y":1940,"wires":[["974d322b.98399"]]},{"id":"974d322b.98399","type":"api-call-service","z":"8c6e8fa9.21169","name":"Night Light Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.upstairs_toilet_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":660,"y":1940,"wires":[[]]},{"id":"a6d21e3a.2c3bd","type":"api-current-state","z":"8c6e8fa9.21169","name":"Someone In Shower?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.humidity_158d00022c7248","state_type":"str","outputs":1,"x":780,"y":1000,"wires":[["ff204f9d.7fd68"]]},{"id":"ff204f9d.7fd68","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"65","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1000,"wires":[["5664ee9f.6c44f"]]},{"id":"2cf62094.498c7","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":2040,"wires":[["e5da825e.8e1d2"],["bcb50f3b.e7899"]]},{"id":"e5da825e.8e1d2","type":"api-call-service","z":"8c6e8fa9.21169","name":"Night Light On","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.upstairs_toilet_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":2020,"wires":[[]]},{"id":"d0dbb434.1e08e8","type":"time-range-switch","z":"8c6e8fa9.21169","name":"10pm - 6am","lat":"","lon":"","startTime":"22:00","endTime":"06:00","startOffset":"","endOffset":"","x":470,"y":2040,"wires":[["2cf62094.498c7"],[]]},{"id":"ffda6595.b6b828","type":"trigger-state","z":"8c6e8fa9.21169","name":"Upstairs Motion Sensors","server":"4d97f48a.5f4fac","entityid":"group.upstairs_motion_sensors","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":2040,"wires":[["d0dbb434.1e08e8"],[]]},{"id":"bcb50f3b.e7899","type":"delay","z":"8c6e8fa9.21169","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":2080,"wires":[["75cf0695.6d8138"]]},{"id":"75cf0695.6d8138","type":"api-call-service","z":"8c6e8fa9.21169","name":"Night Light Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.upstairs_toilet_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":2080,"wires":[[]]},{"id":"7f78396c.853088","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.dining_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1080,"wires":[[]]},{"id":"755faf00.5bc8d","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Living Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.living_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":1120,"wires":[[]]},{"id":"12220030.f9035","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"600","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1120,"wires":[["7f78396c.853088","1a2f06fb.8b0809"]]},{"id":"1a2f06fb.8b0809","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.lounge_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1140,"wires":[[]]},{"id":"f45073eb.75539","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.master_wardrobe_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1200,"wires":[[]]},{"id":"c9d25e42.44cd5","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Walk In Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d0001d56ccb","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":160,"y":1220,"wires":[["bf087545.c35348"],[]]},{"id":"898abfca.789c2","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.master_wardrobe_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1260,"wires":[[]]},{"id":"74f753b2.2eb8cc","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Walk In Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.wardrobe_no_motion_since","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":1280,"wires":[["d2c23d4.d6cb4c"]]},{"id":"d2c23d4.d6cb4c","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1280,"wires":[["898abfca.789c2"]]},{"id":"bf087545.c35348","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1200,"wires":[["f45073eb.75539"],[]]},{"id":"1719eaaf.72cc75","type":"switch","z":"8c6e8fa9.21169","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1540,"wires":[["ac2584e8.2f0b18"],[]]},{"id":"f6266e3.672ab9","type":"api-call-service","z":"8c6e8fa9.21169","name":"OFF","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.office_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1600,"wires":[[]]},{"id":"c23ba5b4.be0fd8","type":"api-call-service","z":"8c6e8fa9.21169","name":"ON","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.office_light_switch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":1540,"wires":[[]]},{"id":"8fa1c086.6128d","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Office Motion","server":"4d97f48a.5f4fac","entityidfilter":"binary_sensor.motion_sensor_158d0001e5d103","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":1540,"wires":[["1719eaaf.72cc75"]]},{"id":"19a4cca9.637a13","type":"traffic","z":"8c6e8fa9.21169","name":"","property_allow":"payload","filter_allow":"300","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":530,"y":1620,"wires":[["f6266e3.672ab9"]]},{"id":"fc807ed5.0df37","type":"server-state-changed","z":"8c6e8fa9.21169","name":"Office Motion Off","server":"4d97f48a.5f4fac","entityidfilter":"sensor.office_no_motion_since","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":1620,"wires":[["19a4cca9.637a13"]]},{"id":"ac2584e8.2f0b18","type":"time-range-switch","z":"8c6e8fa9.21169","name":"5pm - 6am","lat":"-28.1081439","lon":"153.4402859","startTime":"17:00","endTime":"06:00","startOffset":"","endOffset":"","x":570,"y":1540,"wires":[["c23ba5b4.be0fd8"],[]]},{"id":"e72cb2b2.97dad","type":"api-call-service","z":"8c6e8fa9.21169","name":"Dining Brighten for Meals","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.livingroom_bright\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":2420,"wires":[[]]},{"id":"eecae9e6.15b6a8","type":"time-range-switch","z":"8c6e8fa9.21169","name":"4:45pm - 6:30pm","lat":"","lon":"","startTime":"16:45","endTime":"18:30","startOffset":"","endOffset":"","x":530,"y":2420,"wires":[["e72cb2b2.97dad"],[]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
