config/packages/appliances/Node-RED-Flow/Node-RED-Flow
[{"id":"b162d2e4.ff507","type":"tab","label":"Appliances","disabled":false,"info":""},{"id":"72722b32.afea24","type":"switch","z":"b162d2e4.ff507","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"lt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":140,"wires":[["c6ebe88c.225a68"],["22399c85.a91af4"]]},{"id":"c6ebe88c.225a68","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"<10","override_topic":true,"override_payload":true,"entity_id":"sensor.washing_machine_status","x":710,"y":100,"wires":[["741fe636.aa0f68"]]},{"id":"741fe636.aa0f68","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1000,"y":100,"wires":[["d2042f64.411ec","e4860986.a7f608"],["d2042f64.411ec","e4860986.a7f608"],["d2042f64.411ec","e4860986.a7f608"]]},{"id":"d2042f64.411ec","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Running","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Running\"}","mergecontext":"","x":1230,"y":80,"wires":[[]]},{"id":"22399c85.a91af4","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":">5","override_topic":true,"override_payload":true,"entity_id":"sensor.washing_machine_status","x":710,"y":180,"wires":[["92ee9aed.6e6808"]]},{"id":"92ee9aed.6e6808","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":180,"wires":[["dbf15db0.30e97","7ba190f7.08a16"]]},{"id":"dbf15db0.30e97","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Finishing","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1230,"y":160,"wires":[[]]},{"id":"622ff0ae.c68de","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Set to Clean","server":"e7c576e.5663a88","entityid":"input_select.washing_machine_status","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":280,"wires":[["9243366c.845118"],[]]},{"id":"3d9f252e.1b2cba","type":"switch","z":"b162d2e4.ff507","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":280,"wires":[["66ff5ded.56d9c4","b10486f0.b7f0e8"]]},{"id":"66ff5ded.56d9c4","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Clean","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Clean\"}","mergecontext":"","x":1220,"y":260,"wires":[[]]},{"id":"3597c0e1.5954f","type":"switch","z":"b162d2e4.ff507","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"lt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":960,"wires":[["e243997e.7ae7f8"],["d469f7d2.4bc208"]]},{"id":"e243997e.7ae7f8","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.dryer_status","x":710,"y":920,"wires":[["1eb9810b.0f398f"]]},{"id":"1eb9810b.0f398f","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1000,"y":920,"wires":[["5d22e642.24a618","c99fdbf0.31f748"],["5d22e642.24a618","c99fdbf0.31f748"],["5d22e642.24a618","c99fdbf0.31f748"]]},{"id":"5d22e642.24a618","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Running","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Running\"}","mergecontext":"","x":1220,"y":900,"wires":[[]]},{"id":"d469f7d2.4bc208","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.dryer_status","x":710,"y":1000,"wires":[["c35e08ac.71e7d8"]]},{"id":"c35e08ac.71e7d8","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":1000,"wires":[["10bb2bbf.be6b74","635a2849.deb5c8"]]},{"id":"10bb2bbf.be6b74","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Finishing","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1220,"y":980,"wires":[[]]},{"id":"e5219c4c.01e5a","type":"trigger-state","z":"b162d2e4.ff507","name":"Dryer Set to Clean","server":"e7c576e.5663a88","entityid":"input_select.dryer_status","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":1100,"wires":[["dbca64a9.646f38"],[]]},{"id":"2069eb52.49aaf4","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.dryer_status","x":610,"y":1100,"wires":[["1021ff34.d86361"]]},{"id":"1021ff34.d86361","type":"switch","z":"b162d2e4.ff507","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":1100,"wires":[["82301497.c0b9f8","55baeec6.b5626"]]},{"id":"82301497.c0b9f8","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Clean","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Clean\"}","mergecontext":"","x":1210,"y":1080,"wires":[[]]},{"id":"7aae8d0e.9f5194","type":"time-range-switch","z":"b162d2e4.ff507","name":"8AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"08:30","endTime":"21:00","startOffset":0,"endOffset":0,"x":1130,"y":500,"wires":[["67ab3afa.5942e4","7263c449.e9676c"],[]]},{"id":"1d028229.cf99ee","type":"comment","z":"b162d2e4.ff507","name":"Washing Machine","info":"","x":170,"y":40,"wires":[]},{"id":"eca7e7e1.274cb8","type":"comment","z":"b162d2e4.ff507","name":"Dryer","info":"","x":150,"y":880,"wires":[]},{"id":"4326646d.fe3bdc","type":"api-current-state","z":"b162d2e4.ff507","name":"Washing Still in Machine","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washing_machine_status","x":610,"y":700,"wires":[["8d1d465d.82a018"]]},{"id":"8d1d465d.82a018","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":700,"wires":[["d7b891b1.b73aa"]]},{"id":"67ab3afa.5942e4","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"The washing machine has finished and is ready to be emptied\"}","mergecontext":"","x":1310,"y":500,"wires":[[]]},{"id":"c99fdbf0.31f748","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Running","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Running\"}","mergecontext":"","x":1220,"y":940,"wires":[[]]},{"id":"635a2849.deb5c8","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Finishing","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1220,"y":1020,"wires":[[]]},{"id":"55baeec6.b5626","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Clean","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Clean\"}","mergecontext":"","x":1210,"y":1120,"wires":[[]]},{"id":"e81ab5f3.8b4428","type":"server-state-changed","z":"b162d2e4.ff507","name":"Washer Set to Active","server":"e7c576e.5663a88","entityidfilter":"sensor.waching_machine_power","entityidfiltertype":"substring","haltifstate":"","x":170,"y":140,"wires":[["72722b32.afea24"]]},{"id":"a6a067c2.968478","type":"server-state-changed","z":"b162d2e4.ff507","name":"Dryer Set to Active","server":"e7c576e.5663a88","entityidfilter":"sensor.dryer_power","entityidfiltertype":"exact","haltifstate":"","x":170,"y":960,"wires":[["3597c0e1.5954f"]]},{"id":"9243366c.845118","type":"stoptimer","z":"b162d2e4.ff507","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1min","x":410,"y":280,"wires":[["141de604.2747ca"],[]]},{"id":"dbca64a9.646f38","type":"stoptimer","z":"b162d2e4.ff507","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1min","x":410,"y":1100,"wires":[["2069eb52.49aaf4"],[]]},{"id":"5edb511f.867fb","type":"trigger-state","z":"b162d2e4.ff507","name":"Time","server":"69a8824.8c4167c","entityid":"sensor.time","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":150,"y":700,"wires":[["afc1012c.d7f06"],[]]},{"id":"afc1012c.d7f06","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20:45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":700,"wires":[["4326646d.fe3bdc"]]},{"id":"141de604.2747ca","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":">6","override_topic":true,"override_payload":true,"entity_id":"sensor.washing_machine_status","x":700,"y":280,"wires":[["3d9f252e.1b2cba"]]},{"id":"dde7c47d.8fb6a8","type":"switch","z":"b162d2e4.ff507","name":"Washer Door State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":400,"wires":[["2c674243.ef23ae"]]},{"id":"4386d73c.74bea8","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Notify Finish","server":"e7c576e.5663a88","entityid":"input_select.washing_machine_status","debugenabled":false,"constraints":[{"id":"m7m1y2n21tr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":400,"wires":[["b08e3008.55518"],[]]},{"id":"b08e3008.55518","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73a83","x":440,"y":400,"wires":[["dde7c47d.8fb6a8"]]},{"id":"89dad3aa.d78d6","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Idle","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Idle\"}","mergecontext":"","x":430,"y":540,"wires":[["ab865e0a.eb77c"]]},{"id":"ab865e0a.eb77c","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify Off","server":"e7c576e.5663a88","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.disable_washing_machine_notification\"}","mergecontext":"","x":620,"y":540,"wires":[[]]},{"id":"7263c449.e9676c","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify On","server":"e7c576e.5663a88","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\": \"input_boolean.disable_washing_machine_notification\"}","mergecontext":"","x":1320,"y":440,"wires":[[]]},{"id":"2c674243.ef23ae","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.disable_washing_machine_notification","x":960,"y":400,"wires":[["cbb46667.c189a8"]]},{"id":"cbb46667.c189a8","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":400,"wires":[["7aae8d0e.9f5194"],[]]},{"id":"e4860986.a7f608","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Running","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Running\"}","mergecontext":"","x":1230,"y":120,"wires":[[]]},{"id":"7ba190f7.08a16","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Finishing","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1230,"y":200,"wires":[[]]},{"id":"b10486f0.b7f0e8","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Clean","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Clean\"}","mergecontext":"","x":1220,"y":300,"wires":[[]]},{"id":"181a00c2.c7f74f","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Idle","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Idle\"}","mergecontext":"","x":430,"y":580,"wires":[[]]},{"id":"4a46d473.dcc5ec","type":"api-call-service","z":"b162d2e4.ff507","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"If you don't wan't wrinkled clothes I suggest you empty the Dryer before heading up to bed\"}","mergecontext":"","x":1010,"y":1560,"wires":[[]]},{"id":"6650edf9.cfad14","type":"time-range-switch","z":"b162d2e4.ff507","name":"7AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"08:30","endTime":"21:00","startOffset":0,"endOffset":0,"x":1110,"y":1340,"wires":[["a4e4c43f.bf8218","4c6e9126.1c7a4"],[]]},{"id":"a80efa91.26ab28","type":"api-current-state","z":"b162d2e4.ff507","name":"Washing Still in Machine","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.dryer_status","x":590,"y":1560,"wires":[["6e61ee60.a2dbc"]]},{"id":"6e61ee60.a2dbc","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1560,"wires":[["4a46d473.dcc5ec"]]},{"id":"a4e4c43f.bf8218","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"The Dryer has finished and is ready to be emptied\"}","mergecontext":"","x":1290,"y":1360,"wires":[[]]},{"id":"2b62d622.ee575a","type":"trigger-state","z":"b162d2e4.ff507","name":"Time","server":"69a8824.8c4167c","entityid":"sensor.time","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":130,"y":1560,"wires":[["8b91f204.e4e18"],[]]},{"id":"8b91f204.e4e18","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20:45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1560,"wires":[["a80efa91.26ab28"]]},{"id":"91a02392.e9b54","type":"switch","z":"b162d2e4.ff507","name":"Dryer Door State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1240,"wires":[["1f98b989.f07d86"]]},{"id":"36ff5f1e.317de","type":"trigger-state","z":"b162d2e4.ff507","name":"Dryer Set to Clean","server":"e7c576e.5663a88","entityid":"input_select.dryer_status","debugenabled":false,"constraints":[{"id":"m7m1y2n21tr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":1240,"wires":[["f0ab08d9.c33198"],[]]},{"id":"f0ab08d9.c33198","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73bc5","x":430,"y":1240,"wires":[["91a02392.e9b54"]]},{"id":"4c6e9126.1c7a4","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify On","server":"e7c576e.5663a88","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\": \"input_boolean.disable_dryer_notification\"}","mergecontext":"","x":1300,"y":1300,"wires":[[]]},{"id":"1f98b989.f07d86","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.disable_dryer_notification","x":930,"y":1240,"wires":[["b5dc95b9.fb1178"]]},{"id":"b5dc95b9.fb1178","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1240,"wires":[["6650edf9.cfad14"],[]]},{"id":"86ddf5d.ae56008","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Idle","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Idle\"}","mergecontext":"","x":440,"y":1420,"wires":[[]]},{"id":"20da3d3e.383fc2","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Idle","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Idle\"}","mergecontext":"","x":440,"y":1380,"wires":[["c15139ad.fc12a8"]]},{"id":"c15139ad.fc12a8","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify Off","server":"e7c576e.5663a88","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.disable_dryer_notification\"}","mergecontext":"","x":640,"y":1380,"wires":[[]]},{"id":"cbc9e31c.0bd5c","type":"comment","z":"b162d2e4.ff507","name":"RoboVac","info":"","x":120,"y":1740,"wires":[]},{"id":"4f307165.83a56","type":"trigger-state","z":"b162d2e4.ff507","name":"RoboVac Finished","server":"e7c576e.5663a88","entityid":"sensor.robovac_status","debugenabled":false,"constraints":[{"id":"jlu2yf6xq0n","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Returning home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":150,"y":1820,"wires":[["6098f9b2.4bc398"],[]]},{"id":"6098f9b2.4bc398","type":"api-call-service","z":"b162d2e4.ff507","name":"Turn On Charging","server":"e7c576e.5663a88","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.plug_158d00022ae22d\" }","mergecontext":"","x":410,"y":1820,"wires":[["458fca73.f0b684"]]},{"id":"8b38957a.933298","type":"api-call-service","z":"b162d2e4.ff507","name":"Turn Off Charging","server":"e7c576e.5663a88","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.plug_158d00022ae22d\" }","mergecontext":"","x":1130,"y":1820,"wires":[[]]},{"id":"19651916.4194d7","type":"trigger-state","z":"b162d2e4.ff507","name":"RoboVac Error","server":"e7c576e.5663a88","entityid":"sensor.robovac_status","debugenabled":false,"constraints":[{"id":"97091eamn9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Error"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":140,"y":1900,"wires":[["3db664a3.8c085c"],[]]},{"id":"3db664a3.8c085c","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"Attention - Robovac has got himself into a situation again\"}","mergecontext":"","x":370,"y":1900,"wires":[[]]},{"id":"d7b891b1.b73aa","type":"api-call-service","z":"b162d2e4.ff507","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"If you don't wan't stinky clothes I suggest you empty the Dryer before heading up to bed\"}","mergecontext":"","x":1030,"y":700,"wires":[[]]},{"id":"458fca73.f0b684","type":"api-current-state","z":"b162d2e4.ff507","name":"Fully Charged","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.robovac_battery","x":660,"y":1820,"wires":[["8c07b269.121f7"]]},{"id":"8c07b269.121f7","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1820,"wires":[["8b38957a.933298"]]},{"id":"949c9074.166f8","type":"debug","z":"b162d2e4.ff507","name":"C1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":860,"wires":[]},{"id":"598bdd1c.29f664","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Set to Idle","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73a83","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":560,"wires":[["89dad3aa.d78d6","181a00c2.c7f74f"],[]]},{"id":"db74e591.a5fe18","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Set to Idle","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73bc5","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":1400,"wires":[["20da3d3e.383fc2","86ddf5d.ae56008"],[]]},{"id":"e7c576e.5663a88","type":"server","z":"","name":"HA - Automations","url":"mydns","pass":"mypass"},{"id":"69a8824.8c4167c","type":"server","z":"","name":"HA - Main","url":"mydns","pass":"mypass"}]
