config/packages/appliances/Node-RED-Flow/Node-RED-Flow
[{"id":"ebb0f8c6.337ab8","type":"tab","label":"Appliances","disabled":false,"info":""},{"id":"f8417a02.b81d08","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washer Status","server":"4d97f48a.5f4fac","halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.washing_machine_status","state_type":"str","outputs":2,"x":680,"y":100,"wires":[["cb186e0a.b8ea7"],[]]},{"id":"cb186e0a.b8ea7","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":970,"y":100,"wires":[["cc9d8bff.bc6f48"],["cc9d8bff.bc6f48"],["cc9d8bff.bc6f48"]]},{"id":"cc9d8bff.bc6f48","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Washer Running","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washing_machine_status\",\"option\":\"Running\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1190,"y":100,"wires":[[]]},{"id":"ad605156.1e0e5","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.washing_machine_status","state_type":"str","outputs":1,"x":680,"y":260,"wires":[["2ac80e97.4101c2"]]},{"id":"2ac80e97.4101c2","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":260,"wires":[["74d3f66.697ec08"]]},{"id":"9087f74c.11cc88","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Washer Set to Clean","server":"4d97f48a.5f4fac","entityid":"input_select.washing_machine_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":400,"wires":[["d96d414d.37ed8"],[]]},{"id":"ce794c82.f1f15","type":"switch","z":"ebb0f8c6.337ab8","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":400,"wires":[["ee7ace39.006ea"]]},{"id":"24fee601.03785a","type":"switch","z":"ebb0f8c6.337ab8","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"6","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1120,"wires":[["e8aebe25.8d677"],["4e9c74fb.04182c"]]},{"id":"481aa70d.a73008","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":950,"y":1040,"wires":[["ae1e1892.58bd18"],["ae1e1892.58bd18"],["ae1e1892.58bd18"]]},{"id":"49cb6098.95f64","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1200,"wires":[["d26c5917.e2e688"]]},{"id":"a30cf5ac.06e348","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Dryer Set to Clean","server":"4d97f48a.5f4fac","entityid":"input_select.dryer_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1340,"wires":[["a86051ed.86018"],[]]},{"id":"2088e77a.0d8c28","type":"switch","z":"ebb0f8c6.337ab8","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1340,"wires":[["3cd9bb7f.7ef704"]]},{"id":"3cd9bb7f.7ef704","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Dryer Clean","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.dryer_status\",\"option\":\"Clean\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1170,"y":1340,"wires":[[]]},{"id":"cfcc0fa7.6aeef","type":"time-range-switch","z":"ebb0f8c6.337ab8","name":"8AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"05:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":1170,"y":620,"wires":[["210e4170.2523ee"],[]]},{"id":"5b34e150.e7238","type":"comment","z":"ebb0f8c6.337ab8","name":"Washing Machine","info":"","x":150,"y":80,"wires":[]},{"id":"a80eae7a.44071","type":"comment","z":"ebb0f8c6.337ab8","name":"Dryer","info":"","x":130,"y":1040,"wires":[]},{"id":"e7442229.14e54","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washing Still in Machine","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.washing_machine_status","state_type":"str","outputs":1,"x":590,"y":840,"wires":[["10b5c2c0.ee1d1d"]]},{"id":"10b5c2c0.ee1d1d","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":840,"wires":[["7847c0e5.61f56"]]},{"id":"f7a8c400.bb1608","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"The washing machine has finished and is ready to be emptied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1750,"y":640,"wires":[[]]},{"id":"ae1e1892.58bd18","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Dryer Running [Main]","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.dryer_status\",\"option\":\"Running\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1200,"y":1040,"wires":[[]]},{"id":"d26c5917.e2e688","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Dryer Finishing [Main]","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.dryer_status\",\"option\":\"Finishing\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1200,"y":1200,"wires":[[]]},{"id":"afeea447.8263c8","type":"server-state-changed","z":"ebb0f8c6.337ab8","name":"Washer Set to Active","server":"4d97f48a.5f4fac","entityidfilter":"sensor.waching_machine_power","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":180,"wires":[["a9c888c1.667158"]]},{"id":"f119ea01.e82fb8","type":"server-state-changed","z":"ebb0f8c6.337ab8","name":"Dryer Set to Active","server":"4d97f48a.5f4fac","entityidfilter":"sensor.dryer_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":1120,"wires":[["24fee601.03785a"]]},{"id":"a86051ed.86018","type":"stoptimer","z":"ebb0f8c6.337ab8","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1min","x":390,"y":1340,"wires":[["1e40b371.c6148d"],[]]},{"id":"a182d7f2.54fe38","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Time","server":"4d97f48a.5f4fac","entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":130,"y":840,"wires":[["98d75922.d2e068"],[]]},{"id":"98d75922.d2e068","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20:45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":840,"wires":[["e7442229.14e54"]]},{"id":"deda75cf.40f4a8","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washer Status","server":"4d97f48a.5f4fac","halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.washing_machine_status","state_type":"str","outputs":2,"x":680,"y":400,"wires":[["ce794c82.f1f15"],[]]},{"id":"47894a03.c10264","type":"switch","z":"ebb0f8c6.337ab8","name":"Washer Door State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":540,"wires":[["c68714dd.ef6ee8"]]},{"id":"2d49e569.07e24a","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Washer Notify Finish","server":"4d97f48a.5f4fac","entityid":"input_select.washing_machine_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"m7m1y2n21tr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":540,"wires":[["d9937566.ce4b48"],[]]},{"id":"d9937566.ce4b48","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73a83","state_type":"str","outputs":1,"x":420,"y":540,"wires":[["47894a03.c10264"]]},{"id":"856fe8e3.e49578","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Washer Idle","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washing_machine_status\",\"option\":\"Idle\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":640,"wires":[["8e6255a5.af6a98"]]},{"id":"8e6255a5.af6a98","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify Off","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.disable_washing_machine_notification\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":600,"wires":[[]]},{"id":"263fee5b.3e6d82","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify On","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.disable_washing_machine_notification\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1600,"y":520,"wires":[[]]},{"id":"c68714dd.ef6ee8","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.disable_washing_machine_notification","state_type":"str","outputs":1,"x":940,"y":540,"wires":[["40b5ff40.da355"]]},{"id":"40b5ff40.da355","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":540,"wires":[["cfcc0fa7.6aeef"],[]]},{"id":"74d3f66.697ec08","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Washer Finishing","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washing_machine_status\",\"option\":\"Finishing\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1190,"y":260,"wires":[[]]},{"id":"ee7ace39.006ea","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Washer Clean","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washing_machine_status\",\"option\":\"Clean\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1220,"y":400,"wires":[[]]},{"id":"101631f3.3351de","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Washer Idle","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washing_machine_status\",\"option\":\"Idle\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":720,"wires":[[]]},{"id":"d9c8784f.7028e8","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"If you don't wan't wrinkled clothes I suggest you empty the Dryer before heading up to bed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":1860,"wires":[[]]},{"id":"2ecb77ce.fbe9d8","type":"time-range-switch","z":"ebb0f8c6.337ab8","name":"7AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"08:30","endTime":"21:30","startOffset":0,"endOffset":0,"x":1090,"y":1580,"wires":[["23da132.579f5ec"],[]]},{"id":"edd53a35.bec738","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Washing Still in Dryer","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.dryer_status","state_type":"str","outputs":1,"x":560,"y":1860,"wires":[["f15f8c64.91e0c"]]},{"id":"f15f8c64.91e0c","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1860,"wires":[["d9c8784f.7028e8"]]},{"id":"c0856db8.5f25b","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\":\"The Dryer has finished and is ready to be emptied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1670,"y":1620,"wires":[[]]},{"id":"8f33617e.43fd9","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Time","server":"4d97f48a.5f4fac","entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":110,"y":1860,"wires":[["924e85bc.5f0e78"],[]]},{"id":"924e85bc.5f0e78","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20:45","vt":"str"},{"t":"eq","v":"03:00","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1860,"wires":[["edd53a35.bec738"],[]]},{"id":"9d079b01.57db18","type":"switch","z":"ebb0f8c6.337ab8","name":"Dryer Door State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1480,"wires":[["dff78291.675af"]]},{"id":"d710fbb0.dcb418","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Dryer Set to Clean","server":"4d97f48a.5f4fac","entityid":"input_select.dryer_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"m7m1y2n21tr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1480,"wires":[["1852eaa5.730b65"],[]]},{"id":"1852eaa5.730b65","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Dryer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73bc5","state_type":"str","outputs":1,"x":410,"y":1480,"wires":[["9d079b01.57db18"]]},{"id":"8f068a80.faf1d8","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify On","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.disable_dryer_notification\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1500,"y":1480,"wires":[[]]},{"id":"dff78291.675af","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Dryer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.disable_dryer_notification","state_type":"str","outputs":1,"x":910,"y":1480,"wires":[["55fd2ac.58860d4"]]},{"id":"55fd2ac.58860d4","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":1480,"wires":[["2ecb77ce.fbe9d8"],[]]},{"id":"5d11b823.098598","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Dryer Idle","server":"4d97f48a.5f4fac","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.dryer_status\",\"option\":\"Idle\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":1620,"wires":[["6cc73af1.ea5864"]]},{"id":"6cc73af1.ea5864","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify Off","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.disable_dryer_notification\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":1580,"wires":[[]]},{"id":"dad6f1d6.2600f","type":"comment","z":"ebb0f8c6.337ab8","name":"RoboVac/Fan","info":"","x":130,"y":1960,"wires":[]},{"id":"92cfec4a.2a28b","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"RoboVac Finished","server":"4d97f48a.5f4fac","entityid":"sensor.robovac_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"jlu2yf6xq0n","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Returning home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":2260,"wires":[["77c73e80.44485"],[]]},{"id":"77c73e80.44485","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Turn On Charging","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.plug_158d00022ae22d\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":2260,"wires":[[]]},{"id":"6d52d711.479c98","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Turn Off Charging","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.plug_158d00022ae22d\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":2060,"wires":[[]]},{"id":"46440870.6f8a08","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"RoboVac Error","server":"4d97f48a.5f4fac","entityid":"sensor.robovac_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"97091eamn9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Error"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":2380,"wires":[["4c6ed31a.7d111c"],[]]},{"id":"4c6ed31a.7d111c","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"Attention - Robovac has got himself into a situation again\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":390,"y":2380,"wires":[[]]},{"id":"7847c0e5.61f56","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"If you don't wan't stinky clothes I suggest you empty the Washing Machine before heading up to bed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":840,"wires":[[]]},{"id":"8706ad66.d8427","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"},{"t":"eq","v":"Battery: 100","vt":"str"},{"t":"eq","v":"50","vt":"str"},{"t":"eq","v":"Battery: 50","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":2080,"wires":[["d3cda0f.2063d6"],["ebe7d03c.947bf"],["77c73e80.44485"],["77c73e80.44485"]]},{"id":"53fc7d5a.26e234","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Washer Set to Idle","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73a83","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"snx0mwj63nk","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":700,"wires":[["856fe8e3.e49578","101631f3.3351de"],[]]},{"id":"1f6dab98.0eb5d4","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Washer Set to Idle","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73bc5","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"x72s8ik5aua","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1640,"wires":[["5d11b823.098598"],[]]},{"id":"d62d5b35.a32a08","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Fully Charged","server":"4d97f48a.5f4fac","entityid":"sensor.robovac_battery","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":2040,"wires":[["8706ad66.d8427"],[]]},{"id":"a9c888c1.667158","type":"switch","z":"ebb0f8c6.337ab8","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":180,"wires":[["f8417a02.b81d08"],["ad605156.1e0e5"]]},{"id":"d96d414d.37ed8","type":"stoptimer","z":"ebb0f8c6.337ab8","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1min","x":430,"y":400,"wires":[["deda75cf.40f4a8"],[]]},{"id":"4fc0527f.7b86cc","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":620,"wires":[["db1b896b.d03e98"],["f7a8c400.bb1608"]]},{"id":"210e4170.2523ee","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Anyone Home?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.family","state_type":"str","outputs":1,"x":1380,"y":620,"wires":[["4fc0527f.7b86cc","263fee5b.3e6d82"]]},{"id":"db1b896b.d03e98","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The washing machine has finished and is ready to be emptied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1750,"y":580,"wires":[[]]},{"id":"e8aebe25.8d677","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Dryer Status","server":"4d97f48a.5f4fac","halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.dryer_status","state_type":"str","outputs":2,"x":690,"y":1040,"wires":[["481aa70d.a73008"],[]]},{"id":"4e9c74fb.04182c","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Dryer Status","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.dryer_status","state_type":"str","outputs":1,"x":690,"y":1200,"wires":[["49cb6098.95f64"]]},{"id":"1e40b371.c6148d","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Dryer Status","server":"4d97f48a.5f4fac","halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.dryer_status","state_type":"str","outputs":2,"x":650,"y":1340,"wires":[["2088e77a.0d8c28"],[]]},{"id":"84d1b1a8.95eae","type":"switch","z":"ebb0f8c6.337ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1510,"y":1580,"wires":[["fb0b6cfb.d372b"],["c0856db8.5f25b"]]},{"id":"23da132.579f5ec","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Anyone Home?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.family","state_type":"str","outputs":1,"x":1300,"y":1580,"wires":[["84d1b1a8.95eae","8f068a80.faf1d8"]]},{"id":"fb0b6cfb.d372b","type":"api-call-service","z":"ebb0f8c6.337ab8","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"The Dryer has finished and is ready to be emptied\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1670,"y":1540,"wires":[[]]},{"id":"4e7e1f21.4a237","type":"trigger-state","z":"ebb0f8c6.337ab8","name":"Fully Charged","server":"4d97f48a.5f4fac","entityid":"sensor.playroom_fan_battery","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":2120,"wires":[["8706ad66.d8427"],[]]},{"id":"ebe7d03c.947bf","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"Fan Charged?","server":"4d97f48a.5f4fac","halt_if":"100","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"fan.playroom_fan_battery","state_type":"str","outputs":2,"x":580,"y":2120,"wires":[["6d52d711.479c98"],[]]},{"id":"d3cda0f.2063d6","type":"api-current-state","z":"ebb0f8c6.337ab8","name":"RoboVac Charged?","server":"4d97f48a.5f4fac","halt_if":"Battery: 100","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.robovac_battery","state_type":"str","outputs":2,"x":590,"y":2000,"wires":[["6d52d711.479c98"],[]]},{"id":"7d12c206.be474c","type":"comment","z":"ebb0f8c6.337ab8","name":"Reminder before bed","info":"","x":160,"y":1800,"wires":[]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
