config/packages/appliances/Node-RED-Flow/Node-RED-Flow
[{"id":"72722b32.afea24","type":"switch","z":"b162d2e4.ff507","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"lt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":140,"wires":[["c6ebe88c.225a68"],["22399c85.a91af4"]]},{"id":"c6ebe88c.225a68","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"<10","override_topic":true,"override_payload":true,"entity_id":"sensor.washing_machine_status","x":710,"y":100,"wires":[["741fe636.aa0f68"]]},{"id":"741fe636.aa0f68","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1000,"y":100,"wires":[["d2042f64.411ec","e16a7648.b06308"],["d2042f64.411ec","e16a7648.b06308"],["d2042f64.411ec","e16a7648.b06308"]]},{"id":"d2042f64.411ec","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Running","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Running\"}","mergecontext":"","x":1230,"y":80,"wires":[[]]},{"id":"22399c85.a91af4","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":">5","override_topic":true,"override_payload":true,"entity_id":"sensor.washing_machine_status","x":710,"y":180,"wires":[["92ee9aed.6e6808"]]},{"id":"92ee9aed.6e6808","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":180,"wires":[["dbf15db0.30e97","2a5e260f.bc98da"]]},{"id":"dbf15db0.30e97","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Finishing","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1230,"y":160,"wires":[[]]},{"id":"622ff0ae.c68de","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Set to Clean","server":"e7c576e.5663a88","entityid":"input_select.washing_machine_status","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":160,"y":280,"wires":[["499caa53.a50b44"],[]]},{"id":"499caa53.a50b44","type":"delay","z":"b162d2e4.ff507","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":280,"wires":[["f4889abb.a0a938"]]},{"id":"f4889abb.a0a938","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washing_machine_status","x":600,"y":280,"wires":[["3d9f252e.1b2cba"]]},{"id":"3d9f252e.1b2cba","type":"switch","z":"b162d2e4.ff507","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":280,"wires":[["66ff5ded.56d9c4","89e1e9d7.f85fb8"]]},{"id":"66ff5ded.56d9c4","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Clean","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Clean\"}","mergecontext":"","x":1220,"y":260,"wires":[[]]},{"id":"bf40a648.d01298","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Set to Idle","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73a83","debugenabled":false,"constraints":[{"id":"xf3h886w5a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":150,"y":380,"wires":[["eda771c0.87b0e"],[]]},{"id":"eda771c0.87b0e","type":"api-current-state","z":"b162d2e4.ff507","name":"Washer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washing_machine_status","x":600,"y":380,"wires":[["3a9d9d23.d2d7b2"]]},{"id":"3a9d9d23.d2d7b2","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":380,"wires":[["5f99cf78.db4ec","a0e833dc.df466"],["5f99cf78.db4ec","a0e833dc.df466"]]},{"id":"5f99cf78.db4ec","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Idle","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Idle\"}","mergecontext":"","x":1210,"y":360,"wires":[[]]},{"id":"204666bb.2944aa","type":"inject","z":"b162d2e4.ff507","name":"","topic":"","payload":"8:45PM","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":1300,"wires":[["4326646d.fe3bdc"]]},{"id":"3597c0e1.5954f","type":"switch","z":"b162d2e4.ff507","name":"Load Power State","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"lt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":560,"wires":[["e243997e.7ae7f8"],["d469f7d2.4bc208"]]},{"id":"e243997e.7ae7f8","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.dryer_status","x":690,"y":520,"wires":[["1eb9810b.0f398f"]]},{"id":"1eb9810b.0f398f","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":980,"y":520,"wires":[["5d22e642.24a618","c99fdbf0.31f748"],["5d22e642.24a618","c99fdbf0.31f748"],["5d22e642.24a618","c99fdbf0.31f748"]]},{"id":"5d22e642.24a618","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Running","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Running\"}","mergecontext":"","x":1200,"y":500,"wires":[[]]},{"id":"d469f7d2.4bc208","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.dryer_status","x":690,"y":600,"wires":[["c35e08ac.71e7d8"]]},{"id":"c35e08ac.71e7d8","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":600,"wires":[["10bb2bbf.be6b74","635a2849.deb5c8"]]},{"id":"10bb2bbf.be6b74","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Finishing","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1200,"y":580,"wires":[[]]},{"id":"e5219c4c.01e5a","type":"trigger-state","z":"b162d2e4.ff507","name":"Dryer Set to Clean","server":"e7c576e.5663a88","entityid":"input_select.dryer_status","debugenabled":false,"constraints":[{"id":"8wffzl88smn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Finishing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":130,"y":700,"wires":[["2f6ab731.9628f8"],[]]},{"id":"2f6ab731.9628f8","type":"delay","z":"b162d2e4.ff507","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":700,"wires":[["2069eb52.49aaf4"]]},{"id":"2069eb52.49aaf4","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.dryer_status","x":570,"y":700,"wires":[["1021ff34.d86361"]]},{"id":"1021ff34.d86361","type":"switch","z":"b162d2e4.ff507","name":"Finishing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":700,"wires":[["82301497.c0b9f8","55baeec6.b5626"]]},{"id":"82301497.c0b9f8","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Clean","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Clean\"}","mergecontext":"","x":1190,"y":680,"wires":[[]]},{"id":"fe9232d7.d4d53","type":"trigger-state","z":"b162d2e4.ff507","name":"Dryer Set to Idle","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73bc5","debugenabled":false,"constraints":[{"id":"xf3h886w5a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":120,"y":800,"wires":[["1f8374b6.acc17b"],[]]},{"id":"1f8374b6.acc17b","type":"api-current-state","z":"b162d2e4.ff507","name":"Dryer Status","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.dryer_status","x":570,"y":800,"wires":[["4537863e.6b5948"]]},{"id":"4537863e.6b5948","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"},{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":800,"wires":[["26c24ffe.99dfc","339b9126.a9525e"],["26c24ffe.99dfc","339b9126.a9525e"]]},{"id":"26c24ffe.99dfc","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Idle","server":"e7c576e.5663a88","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Idle\"}","mergecontext":"","x":1180,"y":780,"wires":[[]]},{"id":"cad33a2b.cf1a38","type":"trigger-state","z":"b162d2e4.ff507","name":"Washer Finished Alert","server":"e7c576e.5663a88","entityid":"sensor.washing_machine_status","debugenabled":false,"constraints":[{"id":"62c5hilekli","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":140,"y":1160,"wires":[["30b3f90c.58f286"],[]]},{"id":"30b3f90c.58f286","type":"delay","z":"b162d2e4.ff507","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1200,"wires":[["ccda0842.cb6ad8"]]},{"id":"ccda0842.cb6ad8","type":"api-current-state","z":"b162d2e4.ff507","name":"Family","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"group.family","x":570,"y":1200,"wires":[["63a01c52.f26024"]]},{"id":"63a01c52.f26024","type":"switch","z":"b162d2e4.ff507","name":"Presence","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Powertec","vt":"str"},{"t":"eq","v":"Stocklands","vt":"str"},{"t":"eq","v":"Kindy","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":820,"y":1200,"wires":[["67ab3afa.5942e4"],["67ab3afa.5942e4"],["67ab3afa.5942e4"],["67ab3afa.5942e4"],["7aae8d0e.9f5194"]]},{"id":"62fe41a4.26","type":"api-call-service","z":"b162d2e4.ff507","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"The washing machine has finished and is ready to be emptied\"}","mergecontext":"","x":1170,"y":1260,"wires":[[]]},{"id":"7aae8d0e.9f5194","type":"time-range-switch","z":"b162d2e4.ff507","name":"8AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"08:30","endTime":"21:00","startOffset":0,"endOffset":0,"x":990,"y":1240,"wires":[["62fe41a4.26"],[]]},{"id":"1d028229.cf99ee","type":"comment","z":"b162d2e4.ff507","name":"Washing Machine","info":"","x":170,"y":40,"wires":[]},{"id":"eca7e7e1.274cb8","type":"comment","z":"b162d2e4.ff507","name":"Dryer","info":"","x":130,"y":480,"wires":[]},{"id":"b4f82374.47588","type":"trigger-state","z":"b162d2e4.ff507","name":"Dryer Finished Alert","server":"e7c576e.5663a88","entityid":"sensor.dryer_status","debugenabled":false,"constraints":[{"id":"62c5hilekli","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Clean"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":140,"y":1220,"wires":[["30b3f90c.58f286"],[]]},{"id":"4326646d.fe3bdc","type":"api-current-state","z":"b162d2e4.ff507","name":"Washing Still in Machine","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washing_machine_status","x":350,"y":1300,"wires":[["8d1d465d.82a018"]]},{"id":"8d1d465d.82a018","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1300,"wires":[["62fe41a4.26"]]},{"id":"67ab3afa.5942e4","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify","server":"e7c576e.5663a88","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"The washing machine has finished and is ready to be emptied\"}","mergecontext":"","x":1170,"y":1180,"wires":[[]]},{"id":"68aa898d.8b2e78","type":"comment","z":"b162d2e4.ff507","name":"Notifications","info":"","x":110,"y":1100,"wires":[]},{"id":"d3b830a9.4c658","type":"trigger-state","z":"b162d2e4.ff507","name":"RoboVac Finished","server":"e7c576e.5663a88","entityid":"sensor.robovac_status","debugenabled":false,"constraints":[{"id":"ge61p6k13pn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Returning home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":130,"y":980,"wires":[["3a262d06.3ce172"],[]]},{"id":"a1fc15e5.b1a6c8","type":"comment","z":"b162d2e4.ff507","name":"Appliance Charging","info":"","x":130,"y":900,"wires":[]},{"id":"3a262d06.3ce172","type":"api-call-service","z":"b162d2e4.ff507","name":"Turn on Power","server":"e7c576e.5663a88","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.plug_158d00022ae22d\"}","mergecontext":"","x":360,"y":980,"wires":[[]]},{"id":"3bc00ea.bee6af2","type":"switch","z":"b162d2e4.ff507","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1020,"wires":[["dcc95bf4.440f98"]]},{"id":"dcc95bf4.440f98","type":"api-call-service","z":"b162d2e4.ff507","name":"Turn off Power","server":"e7c576e.5663a88","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.plug_158d00022ae22d\"}","mergecontext":"","x":1200,"y":1020,"wires":[[]]},{"id":"2a3366ef.d2780a","type":"trigger-state","z":"b162d2e4.ff507","name":"RoboVac Alert","server":"e7c576e.5663a88","entityid":"sensor.robovac_status","debugenabled":false,"constraints":[{"id":"swsh9sdpdw","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Error"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":120,"y":1380,"wires":[["5190b67e.697c68"],[]]},{"id":"5190b67e.697c68","type":"api-current-state","z":"b162d2e4.ff507","name":"James","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.james","x":550,"y":1380,"wires":[["43c781d8.b30ca"]]},{"id":"43c781d8.b30ca","type":"switch","z":"b162d2e4.ff507","name":"Presence","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Powertec","vt":"str"},{"t":"eq","v":"Stocklands","vt":"str"},{"t":"eq","v":"Kindy","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":820,"y":1380,"wires":[["9b9c3063.4fa1b"],["9b9c3063.4fa1b"],["9b9c3063.4fa1b"],["9b9c3063.4fa1b"],["efc5c992.3874e8"]]},{"id":"efc5c992.3874e8","type":"time-range-switch","z":"b162d2e4.ff507","name":"8AM to 9PM","lat":"-28.1081439","lon":"153.4402859","startTime":"08:30","endTime":"21:00","startOffset":0,"endOffset":0,"x":990,"y":1420,"wires":[["7c3841de.a24eb"],[]]},{"id":"9b9c3063.4fa1b","type":"api-call-service","z":"b162d2e4.ff507","name":"Notify","server":"e7c576e.5663a88","service_domain":"notify","service":"pushbullet","data":"{\"message\": \"Attention - Robovac has got himself into a situation again\"}","mergecontext":"","x":1170,"y":1360,"wires":[[]]},{"id":"7c3841de.a24eb","type":"api-call-service","z":"b162d2e4.ff507","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"Attention - Robovac has got himself into a situation again\"}","mergecontext":"","x":1170,"y":1440,"wires":[[]]},{"id":"be110c8a.fa9e3","type":"trigger-state","z":"b162d2e4.ff507","name":"RoboVac Battery %","server":"e7c576e.5663a88","entityid":"sensor.robovac_battery","debugenabled":false,"constraints":[{"id":"plk7ztst5q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"100"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":770,"y":1020,"wires":[["3bc00ea.bee6af2"],[]]},{"id":"e16a7648.b06308","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Running","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Running\"}","mergecontext":"","x":1230,"y":120,"wires":[[]]},{"id":"2a5e260f.bc98da","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Finishing","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1230,"y":200,"wires":[[]]},{"id":"89e1e9d7.f85fb8","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Clean","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Clean\"}","mergecontext":"","x":1220,"y":300,"wires":[[]]},{"id":"a0e833dc.df466","type":"api-call-service","z":"b162d2e4.ff507","name":"Washer Idle","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.washing_machine_status\", \"option\": \"Idle\"}","mergecontext":"","x":1210,"y":400,"wires":[[]]},{"id":"c99fdbf0.31f748","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Running","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Running\"}","mergecontext":"","x":1200,"y":540,"wires":[[]]},{"id":"635a2849.deb5c8","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Finishing","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Finishing\"}","mergecontext":"","x":1200,"y":620,"wires":[[]]},{"id":"55baeec6.b5626","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Clean","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Clean\"}","mergecontext":"","x":1190,"y":720,"wires":[[]]},{"id":"339b9126.a9525e","type":"api-call-service","z":"b162d2e4.ff507","name":"Dryer Idle","server":"69a8824.8c4167c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\": \"input_select.dryer_status\", \"option\": \"Idle\"}","mergecontext":"","x":1180,"y":820,"wires":[[]]},{"id":"e81ab5f3.8b4428","type":"server-state-changed","z":"b162d2e4.ff507","name":"Washer Set to Active","server":"e7c576e.5663a88","entityidfilter":"sensor.waching_machine_power","entityidfiltertype":"substring","haltifstate":"","x":170,"y":140,"wires":[["72722b32.afea24"]]},{"id":"a6a067c2.968478","type":"server-state-changed","z":"b162d2e4.ff507","name":"Dryer Set to Active","server":"e7c576e.5663a88","entityidfilter":"sensor.dryer_power","entityidfiltertype":"exact","haltifstate":"","x":150,"y":560,"wires":[["3597c0e1.5954f"]]},{"id":"e7c576e.5663a88","type":"server","z":"","name":"HA - Automations","url":"http://localhost:8123","pass":"yourpassword"},{"id":"69a8824.8c4167c","type":"server","z":"","name":"HA - Main","url":"http://localhost:8123","pass":"yourpassword"}]
