config/packages/media/Node-RED Flow/Node-RED-Flow
[{"id":"7aa9b37f.9fa96c","type":"tab","label":"Media","disabled":false,"info":""},{"id":"d603b0aa.2dfa8","type":"switch","z":"7aa9b37f.9fa96c","name":"Xiaomi Buttons","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d000213108e","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":200,"wires":[["f85a0513.d400b8"]]},{"id":"f85a0513.d400b8","type":"switch","z":"7aa9b37f.9fa96c","name":"Button 1 Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":200,"wires":[["6517e1d7.bd5a7","81db6924.9e5c08","c7d75846.6f6e88"],[],[]]},{"id":"76dc9ab1.939394","type":"server-events","z":"7aa9b37f.9fa96c","name":"Events","server":"4d97f48a.5f4fac","event_type":"","x":90,"y":200,"wires":[["d603b0aa.2dfa8"]]},{"id":"6517e1d7.bd5a7","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Pause Kodi","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.media_4k_kodi\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":120,"wires":[[]]},{"id":"81db6924.9e5c08","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Pause TV","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.media_tv_pause\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":160,"wires":[[]]},{"id":"c7d75846.6f6e88","type":"time-range-switch","z":"7aa9b37f.9fa96c","name":"After Sunset","lat":"-28.1081439","lon":"153.4402859","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":"","x":830,"y":200,"wires":[["f30e556a.118018"],[]]},{"id":"f30e556a.118018","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Flash Lights","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.livingroom_dim\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1040,"y":200,"wires":[["b5506703.5d9088"]]},{"id":"b5506703.5d9088","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Lights Normal","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.livingroom_normal\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":200,"wires":[[]]},{"id":"4ad13019.d371b","type":"time-range-switch","z":"7aa9b37f.9fa96c","name":"","lat":"-28.1081439","lon":"153.4402859","startTime":"19:00","endTime":"04:00","startOffset":"","endOffset":"","x":310,"y":320,"wires":[["6155ba65.b9c6f4"],[]]},{"id":"19092dcd.f700d2","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Lights Dim","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.livingroom_dim\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":730,"y":280,"wires":[[]]},{"id":"6155ba65.b9c6f4","type":"switch","z":"7aa9b37f.9fa96c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":320,"wires":[["19092dcd.f700d2"],["7f46f00e.b5703"],["7f46f00e.b5703"]]},{"id":"7f46f00e.b5703","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Lights Normal","server":"4d97f48a.5f4fac","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.livingroom_normal\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":360,"wires":[[]]},{"id":"ee7251e0.d3b6e","type":"switch","z":"7aa9b37f.9fa96c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TV Off","vt":"str"},{"t":"eq","v":"Morning Cartoons","vt":"str"},{"t":"eq","v":"Evening TV","vt":"str"},{"t":"eq","v":"Super Rugby","vt":"str"},{"t":"eq","v":"Netflix","vt":"str"},{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"Foxtel","vt":"str"},{"t":"eq","v":"Spotify","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":350,"y":600,"wires":[["4db2ffb9.be7ae"],["e3554881.481908"],["91c3347e.b7e4d8"],["682c2436.0c971c"],["a909a65a.0f5f78"],["4085a009.ab1ab"],["1cf243eb.df708c"],["f750d356.56ec4"]]},{"id":"4db2ffb9.be7ae","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Media TV Off","server":"4d97f48a.5f4fac","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.tvpower\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":590,"y":480,"wires":[[]]},{"id":"e3554881.481908","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Morning Cartoons","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1521695976118\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":520,"wires":[[]]},{"id":"91c3347e.b7e4d8","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Evening TV","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1521694771100\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":590,"y":560,"wires":[[]]},{"id":"682c2436.0c971c","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Super Rugby","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1521696758169\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":590,"y":600,"wires":[[]]},{"id":"edf9f428.3f3718","type":"server-state-changed","z":"7aa9b37f.9fa96c","name":"Media Kodi","server":"4d97f48a.5f4fac","entityidfilter":"media_player.media_4k_kodi","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":320,"wires":[["4ad13019.d371b"]]},{"id":"a909a65a.0f5f78","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Netflix","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.media_tv_app_netflix\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":640,"wires":[[]]},{"id":"4085a009.ab1ab","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"YouTube","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.media_tv_app_youtube\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":580,"y":680,"wires":[[]]},{"id":"1cf243eb.df708c","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Foxtel","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.media_tv_app_foxtel\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":720,"wires":[[]]},{"id":"f750d356.56ec4","type":"api-call-service","z":"7aa9b37f.9fa96c","name":"Spotify","server":"4d97f48a.5f4fac","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.media_tv_app_spotify\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":760,"wires":[[]]},{"id":"86ce04db.52f508","type":"comment","z":"7aa9b37f.9fa96c","name":"Media Room","info":"","x":150,"y":100,"wires":[]},{"id":"91363bbb.d29f78","type":"trigger-state","z":"7aa9b37f.9fa96c","name":"Media TV","server":"4d97f48a.5f4fac","entityid":"input_select.media_tv","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":120,"y":600,"wires":[["ee7251e0.d3b6e"],[]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
