config/packages/alarm_system/Node-RED-Flow/Node-RED-Flow
[{"id":"ea0f6582.0176d8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Open Items on Alarm Set","server":"e7c576e.5663a88","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"jhq8nozhge","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"pending"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":210,"y":140,"wires":[["3dee9246.f6e08e","671551fe.d346a"],[]]},{"id":"e4a8831a.6e438","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":900,"y":120,"wires":[[]]},{"id":"6a8367a0.9d2c38","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":100,"wires":[["e4a8831a.6e438","d5f6c4ba.bc2a98"]]},{"id":"3dee9246.f6e08e","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Open Door State","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.door_count","x":490,"y":100,"wires":[["6a8367a0.9d2c38"]]},{"id":"671551fe.d346a","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Open Window State","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.window_count","x":500,"y":160,"wires":[["6c824886.b4aab8"]]},{"id":"6c824886.b4aab8","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":160,"wires":[["e4a8831a.6e438","c5a3448a.dae618"]]},{"id":"d5f6c4ba.bc2a98","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"There are still doors open maybe you should close them first.\"}","mergecontext":"","x":870,"y":60,"wires":[[]]},{"id":"df40aa8b.2a5768","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"There are still windows open maybe you should close them first.\"}","mergecontext":"","x":1010,"y":180,"wires":[[]]},{"id":"c5a3448a.dae618","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":180,"wires":[["df40aa8b.2a5768"]]},{"id":"d13c655b.a32238","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"e7c576e.5663a88","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Activated\"}","mergecontext":"","x":610,"y":260,"wires":[[]]},{"id":"a7be01e2.e3def","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Start Siren On Alarm Trigger","server":"e7c576e.5663a88","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"csqnrq726lr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":220,"y":280,"wires":[["71c8a365.a38efc","8183246d.5789e8"],[]]},{"id":"8183246d.5789e8","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Sound Alarm","server":"e7c576e.5663a88","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\", \"ringtone_id\": \"0\", \"ringtone_vol\": \"80\"}","mergecontext":"","x":470,"y":300,"wires":[[]]},{"id":"71c8a365.a38efc","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"Alarm triggered you have 2 minutes to reset or police will be contacted!\"}","mergecontext":"","x":450,"y":260,"wires":[["d13c655b.a32238"]]},{"id":"16d44e69.7a1bd2","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Stop Alarm","server":"e7c576e.5663a88","service_domain":"xiaomi_aqara","service":"stop_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\"}","mergecontext":"","x":470,"y":400,"wires":[[]]},{"id":"9f23555d.b3a748","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"Alarm deactivated!\"}","mergecontext":"","x":450,"y":360,"wires":[["ba6f12af.64543"]]},{"id":"ba6f12af.64543","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"e7c576e.5663a88","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm deactivated!\"}","mergecontext":"","x":610,"y":360,"wires":[[]]},{"id":"462ba774.952598","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Front Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d00022016b2","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":500,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"1881d5b8.4fea7a","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Alarm Triggers","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"alarm_control_panel.ha_alarm","x":560,"y":920,"wires":[["bdbd2d68.96dba"]]},{"id":"bdbd2d68.96dba","type":"switch","z":"2648a4c.26b8a5c","name":"Armed Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":920,"wires":[["e353652.9373c98","530c2967.a8ae58","6d520f8c.b0242"]]},{"id":"aa9a4924.6018d8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Patio Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d000225432d","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":560,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"fcf771d7.b0fe9","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Back Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73c09","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":170,"y":620,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"28cff245.e5fb5e","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Kitchen Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73af4","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":680,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"1c6eb532.c97c9b","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Jackson Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73a73","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":740,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"cd087620.b3e8e8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Hudson Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73aad","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":800,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"2a288e2b.a5e842","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bathroom Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e74875","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":860,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"30853e19.bbb842","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bedroom Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001f36741","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":920,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"4fac0751.d02058","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Livingroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e5d118","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":980,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"a5f1bab0.9180a8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Playroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e5cf11","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":1040,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"b9f736f3.3d3088","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Staircase Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d00022c2f21","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":1100,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"479ca5b7.93650c","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Jackson Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d000201351c","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":1160,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"94e81813.035d28","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Hudson Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0002006d46","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":1220,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"ea1a2eb0.14751","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bathroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d000200e4ab","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":1280,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"cbab0f22.b7524","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bedroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e63803","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":180,"y":1340,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"e353652.9373c98","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Trigger Alarm","server":"e7c576e.5663a88","service_domain":"alarm_control_panel","service":"alarm_trigger","data":"{\"entity_id\": \"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":1000,"y":940,"wires":[[]]},{"id":"530c2967.a8ae58","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"e7c576e.5663a88","service_domain":"tts","service":"google_say","data":"{\"entity_id\": \"media_player.tts_kodi\", \"message\": \"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","mergecontext":"","x":990,"y":880,"wires":[[]]},{"id":"6d520f8c.b0242","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"e7c576e.5663a88","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","mergecontext":"","x":990,"y":1000,"wires":[[]]},{"id":"c9d8c2bf.87ea3","type":"switch","z":"2648a4c.26b8a5c","name":"Armed Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":960,"wires":[["e353652.9373c98","530c2967.a8ae58","6d520f8c.b0242"]]},{"id":"66b8a333.edee2c","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Alarm Triggers","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"alarm_control_panel.ha_alarm","x":560,"y":960,"wires":[["c9d8c2bf.87ea3"]]},{"id":"a8cca59e.4d5e58","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Stop Siren On Disarm","server":"e7c576e.5663a88","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"ksywdxxhxnb","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"},{"id":"j3aqmctuj6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":200,"y":380,"wires":[["9f23555d.b3a748","16d44e69.7a1bd2"],[]]},{"id":"e7c576e.5663a88","type":"server","z":"","name":"HA - Automations","url":"http://localhost:8123","pass":"yourpassword"}]
