config/packages/alarm_system/Node-RED-Flow/Node-RED-Flow
[{"id":"ea0f6582.0176d8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Open Items on Alarm Set","server":"69a8824.8c4167c","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"jhq8nozhge","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"pending"},{"id":"xcdts74xrhf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":180,"wires":[["671551fe.d346a","3dee9246.f6e08e"],[]]},{"id":"e4a8831a.6e438","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":940,"y":40,"wires":[["3e6adbb1.609d84"]]},{"id":"3dee9246.f6e08e","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Open Door State","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.door_count","x":470,"y":140,"wires":[["59c66968.07e7e8"]]},{"id":"671551fe.d346a","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Open Window State","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.window_count","x":480,"y":480,"wires":[["dc182a9f.6643e8"]]},{"id":"d13c655b.a32238","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Activated\"}","mergecontext":"","x":1210,"y":1040,"wires":[[]]},{"id":"a7be01e2.e3def","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Start Siren On Alarm Trigger","server":"69a8824.8c4167c","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"csqnrq726lr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":980,"y":1120,"wires":[["8183246d.5789e8","71b1b9d9.f2dcf8","d13c655b.a32238"],[]]},{"id":"8183246d.5789e8","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Sound Alarm","server":"e7c576e.5663a88","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\", \"ringtone_id\": \"0\", \"ringtone_vol\": \"80\"}","mergecontext":"","x":1230,"y":1160,"wires":[[]]},{"id":"16d44e69.7a1bd2","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Stop Alarm","server":"e7c576e.5663a88","service_domain":"xiaomi_aqara","service":"stop_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\"}","mergecontext":"","x":470,"y":1180,"wires":[[]]},{"id":"ba6f12af.64543","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm deactivated!\"}","mergecontext":"","x":450,"y":1060,"wires":[[]]},{"id":"462ba774.952598","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Front Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d00022016b2","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1280,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"1881d5b8.4fea7a","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Alarm Triggers","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"alarm_control_panel.ha_alarm","x":560,"y":1680,"wires":[["bdbd2d68.96dba"]]},{"id":"bdbd2d68.96dba","type":"switch","z":"2648a4c.26b8a5c","name":"Armed Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1680,"wires":[["e353652.9373c98","6d520f8c.b0242","4a72d525.eed6ac"]]},{"id":"aa9a4924.6018d8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Patio Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d000225432d","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1340,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"fcf771d7.b0fe9","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Back Door","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73c09","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1400,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"28cff245.e5fb5e","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Kitchen Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73af4","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":1460,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"1c6eb532.c97c9b","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Jackson Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73a73","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1520,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"cd087620.b3e8e8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Hudson Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e73aad","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":1580,"wires":[["1881d5b8.4fea7a","66b8a333.edee2c"],[]]},{"id":"2a288e2b.a5e842","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bathroom Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001e74875","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1640,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"30853e19.bbb842","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bedroom Window","server":"e7c576e.5663a88","entityid":"binary_sensor.door_window_sensor_158d0001f36741","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1700,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"4fac0751.d02058","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Livingroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e5d118","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1760,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"a5f1bab0.9180a8","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Playroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e5cf11","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1820,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"b9f736f3.3d3088","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Staircase Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d00022c2f21","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":1880,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"479ca5b7.93650c","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Jackson Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d000201351c","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":1940,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"94e81813.035d28","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Hudson Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0002006d46","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":2000,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"ea1a2eb0.14751","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bathroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d000200e4ab","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":190,"y":2060,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"cbab0f22.b7524","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Bedroom Motion","server":"e7c576e.5663a88","entityid":"binary_sensor.motion_sensor_158d0001e63803","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":2120,"wires":[["1881d5b8.4fea7a"],[]]},{"id":"e353652.9373c98","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Trigger Alarm","server":"69a8824.8c4167c","service_domain":"alarm_control_panel","service":"alarm_trigger","data":"{\"entity_id\": \"alarm_control_panel.ha_alarm\"}","mergecontext":"","x":1040,"y":1700,"wires":[[]]},{"id":"6d520f8c.b0242","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","mergecontext":"","x":1010,"y":1780,"wires":[[]]},{"id":"c9d8c2bf.87ea3","type":"switch","z":"2648a4c.26b8a5c","name":"Armed Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1740,"wires":[["e353652.9373c98","6d520f8c.b0242","4a72d525.eed6ac"]]},{"id":"66b8a333.edee2c","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Alarm Triggers","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"alarm_control_panel.ha_alarm","x":560,"y":1740,"wires":[["c9d8c2bf.87ea3"]]},{"id":"a8cca59e.4d5e58","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Stop Siren On Disarm","server":"69a8824.8c4167c","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[{"id":"ksywdxxhxnb","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"},{"id":"j3aqmctuj6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":200,"y":1120,"wires":[["16d44e69.7a1bd2","9569f799.4fa0a8","ba6f12af.64543"],[]]},{"id":"71b1b9d9.f2dcf8","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"Alarm triggered you have 2 minutes to reset or police will be contacted!\"}","mergecontext":"","x":1210,"y":1100,"wires":[[]]},{"id":"9569f799.4fa0a8","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"Alarm deactivated!\"}","mergecontext":"","x":450,"y":1120,"wires":[[]]},{"id":"4a72d525.eed6ac","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","mergecontext":"","x":1010,"y":1620,"wires":[[]]},{"id":"59c66968.07e7e8","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["f0a7273b.ac1868","e4a8831a.6e438"],["671551fe.d346a"]]},{"id":"7245cf75.c2e75","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"The front door is still open maybe you should close it first.\"}","mergecontext":"","x":1290,"y":80,"wires":[["d112a404.fd0758"]]},{"id":"f0a7273b.ac1868","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Front Door","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d00022016b2","x":930,"y":100,"wires":[["91342d40.048a5"]]},{"id":"91342d40.048a5","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":100,"wires":[["7245cf75.c2e75"],["d02527de.822a78"]]},{"id":"d02527de.822a78","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Patio Door","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d000225432d","x":930,"y":160,"wires":[["b5b55548.c6f2b8"]]},{"id":"b5b55548.c6f2b8","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":160,"wires":[["520b6ec8.96241"],["fa857943.57c678"]]},{"id":"520b6ec8.96241","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"The patio door is still open maybe you should close it first.\"}","mergecontext":"","x":1290,"y":140,"wires":[["d6bbff7e.1b68"]]},{"id":"fa857943.57c678","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Back Door","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73c09","x":930,"y":220,"wires":[["80c5b47.d62f148"]]},{"id":"80c5b47.d62f148","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":220,"wires":[["efdd3dbf.61acf"],["23888f93.63d16"]]},{"id":"efdd3dbf.61acf","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"The back door is still open maybe you should close it first.\"}","mergecontext":"","x":1290,"y":200,"wires":[["769faafc.8f6314"]]},{"id":"23888f93.63d16","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Garage Door","server":"69a8824.8c4167c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.garage_door","x":930,"y":280,"wires":[["5aed05ac.af25cc"]]},{"id":"5aed05ac.af25cc","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":280,"wires":[["25599617.72735a"],[]]},{"id":"25599617.72735a","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"The patio door is still open maybe you should close it first.\"}","mergecontext":"","x":1290,"y":260,"wires":[["8b47aefd.d9a14"]]},{"id":"d112a404.fd0758","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":80,"wires":[["d02527de.822a78"]]},{"id":"d6bbff7e.1b68","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":140,"wires":[["fa857943.57c678"]]},{"id":"769faafc.8f6314","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":200,"wires":[["23888f93.63d16"]]},{"id":"8b47aefd.d9a14","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":260,"wires":[[]]},{"id":"bfd1211a.799c1","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"Jackson's window is open maybe you should close it first.\"}","mergecontext":"","x":1270,"y":400,"wires":[["16d95450.085b6c"]]},{"id":"dc182a9f.6643e8","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":480,"wires":[["974cceff.fba77"],["371b3f4e.d152d"]]},{"id":"974cceff.fba77","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Jackson Window","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73a73","x":930,"y":420,"wires":[["83b3e5bd.4287f8"]]},{"id":"83b3e5bd.4287f8","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":420,"wires":[["bfd1211a.799c1"],["71e595a5.f1d70c"]]},{"id":"16d95450.085b6c","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":400,"wires":[["c1afa96d.f44398"]]},{"id":"62526dd5.b36a74","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"Hudson's window is open maybe you should close it first.\"}","mergecontext":"","x":1270,"y":460,"wires":[["98a4b8d9.abd448"]]},{"id":"71e595a5.f1d70c","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Hudson Window","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73aad","x":920,"y":480,"wires":[["917df4fe.370788"]]},{"id":"917df4fe.370788","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":480,"wires":[["62526dd5.b36a74"],["e9ed97f0.efcb18"]]},{"id":"98a4b8d9.abd448","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":460,"wires":[["97cc9a55.539308"]]},{"id":"2b2d464a.73fd2a","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"The Kitchen window is open maybe you should close it first.\"}","mergecontext":"","x":1270,"y":520,"wires":[["3c3ab55f.fae1ba"]]},{"id":"e9ed97f0.efcb18","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Kitchen Window","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73af4","x":920,"y":540,"wires":[["368ec330.1b669c"]]},{"id":"368ec330.1b669c","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":540,"wires":[["2b2d464a.73fd2a"],["371b3f4e.d152d"]]},{"id":"3c3ab55f.fae1ba","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":520,"wires":[["a5ea5e0d.e278"]]},{"id":"c1afa96d.f44398","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":1640,"y":400,"wires":[["71e595a5.f1d70c","e2cfddf8.68a6e"]]},{"id":"97cc9a55.539308","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":1640,"y":460,"wires":[["e9ed97f0.efcb18","e2cfddf8.68a6e"]]},{"id":"a5ea5e0d.e278","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":1640,"y":520,"wires":[["e2cfddf8.68a6e","371b3f4e.d152d"]]},{"id":"bc5bd660.80c658","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"The Bedroom window is open maybe you should close it first.\"}","mergecontext":"","x":1270,"y":640,"wires":[["f199da08.bc4828"]]},{"id":"9be9b25e.4a65e","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Bedroom Window","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001f36741","x":930,"y":660,"wires":[["9454169a.9f5368"]]},{"id":"9454169a.9f5368","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":660,"wires":[["bc5bd660.80c658","573a2e0f.c6348"],["20d0b1e0.191bce"]]},{"id":"f199da08.bc4828","type":"delay","z":"2648a4c.26b8a5c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":640,"wires":[[]]},{"id":"573a2e0f.c6348","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":1300,"y":700,"wires":[["20d0b1e0.191bce"]]},{"id":"3e6adbb1.609d84","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Turn Routine Off","server":"69a8824.8c4167c","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.goodnight\"}","mergecontext":"","x":1140,"y":40,"wires":[[]]},{"id":"e2cfddf8.68a6e","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Turn Routine Off","server":"69a8824.8c4167c","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.goodnight\"}","mergecontext":"","x":1900,"y":520,"wires":[[]]},{"id":"371b3f4e.d152d","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Routine On?","server":"69a8824.8c4167c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.goodnight","x":910,"y":600,"wires":[["9be9b25e.4a65e"]]},{"id":"68f6af0b.2012d","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingias_echo\",\"message\":\"The Bathroom window is open maybe you should close it first.\"}","mergecontext":"","x":1270,"y":780,"wires":[[]]},{"id":"20d0b1e0.191bce","type":"api-current-state","z":"2648a4c.26b8a5c","name":"Bathroom Window","server":"e7c576e.5663a88","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e74875","x":930,"y":800,"wires":[["c36747e4.e5bc28"]]},{"id":"c36747e4.e5bc28","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":800,"wires":[["68f6af0b.2012d","f449c02f.5738c"],[]]},{"id":"f449c02f.5738c","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Disarm Alarm","server":"e7c576e.5663a88","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","mergecontext":"","x":1300,"y":840,"wires":[[]]},{"id":"36a179cb.2efb66","type":"trigger-state","z":"2648a4c.26b8a5c","name":"Start Siren On Alarm Trigger","server":"69a8824.8c4167c","entityid":"alarm_control_panel.ha_alarm","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":720,"wires":[["34fc2bf4.c39504"],[]]},{"id":"34fc2bf4.c39504","type":"switch","z":"2648a4c.26b8a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":720,"wires":[["a44ce8a4.bcf078","d27f3da6.f0511"],["68317481.9f18ec","d31ba33b.1623b"]]},{"id":"a44ce8a4.bcf078","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"Alarm home mode is armed\"}","mergecontext":"","x":590,"y":680,"wires":[[]]},{"id":"d27f3da6.f0511","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm home mode is armed\"}","mergecontext":"","x":590,"y":640,"wires":[[]]},{"id":"d31ba33b.1623b","type":"api-call-service","z":"2648a4c.26b8a5c","name":"TTS","server":"69a8824.8c4167c","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\": \"media_player.kingias_echo\", \"message\": \"Alarm away mode is armed\"}","mergecontext":"","x":590,"y":780,"wires":[[]]},{"id":"68317481.9f18ec","type":"api-call-service","z":"2648a4c.26b8a5c","name":"Notify","server":"69a8824.8c4167c","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm away mode is armed\"}","mergecontext":"","x":590,"y":740,"wires":[[]]},{"id":"69a8824.8c4167c","type":"server","z":"","name":"HA - Main","legacy":true},{"id":"e7c576e.5663a88","type":"server","z":"","name":"HA - Automations","legacy":true}]
