config/packages/alarm_system/Node-RED-Flow/Node-RED-Flow
[{"id":"e2aa70e0.77b69","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"78df7371.0ac3cc","type":"trigger-state","z":"e2aa70e0.77b69","name":"Open Items on Alarm Set","server":"4d97f48a.5f4fac","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"jhq8nozhge","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"pending"},{"id":"xcdts74xrhf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":100,"wires":[["52e48ea3.2873b"],[]]},{"id":"b1ad5b1d.f0ac88","type":"api-call-service","z":"e2aa70e0.77b69","name":"Disarm Alarm","server":"4d97f48a.5f4fac","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":80,"wires":[["986b1a8c.1bbb08"]]},{"id":"a01d24d3.3eb328","type":"api-current-state","z":"e2aa70e0.77b69","name":"Open Door State","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.door_count","state_type":"str","outputs":1,"x":450,"y":180,"wires":[["a76901bc.e65eb"]]},{"id":"47e1d8ad.5b7d48","type":"api-current-state","z":"e2aa70e0.77b69","name":"Open Window State","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.window_count","state_type":"str","outputs":1,"x":460,"y":520,"wires":[["6783755d.3d328c"]]},{"id":"4139174e.49f898","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Activated\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1190,"y":1080,"wires":[[]]},{"id":"3b59fe7b.c70bc2","type":"trigger-state","z":"e2aa70e0.77b69","name":"Start Siren On Alarm Trigger","server":"4d97f48a.5f4fac","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"csqnrq726lr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":960,"y":1160,"wires":[["824a03f0.d365f","87662403.fb6cd8","4139174e.49f898"],[]]},{"id":"824a03f0.d365f","type":"api-call-service","z":"e2aa70e0.77b69","name":"Sound Alarm","server":"4d97f48a.5f4fac","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\", \"ringtone_id\": \"0\", \"ringtone_vol\": \"80\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1210,"y":1200,"wires":[[]]},{"id":"da960cc7.30c5b","type":"api-call-service","z":"e2aa70e0.77b69","name":"Stop Alarm","server":"4d97f48a.5f4fac","service_domain":"xiaomi_aqara","service":"stop_ringtone","data":"{\"gw_mac\": \"78:11:DC:FD:81:2F\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":1220,"wires":[[]]},{"id":"d0bec310.f5023","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm deactivated!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":1100,"wires":[[]]},{"id":"7d7462ef.3bdbcc","type":"trigger-state","z":"e2aa70e0.77b69","name":"Front Door","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d00022016b2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1320,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"b9443229.64462","type":"api-current-state","z":"e2aa70e0.77b69","name":"Alarm Triggers","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.ha_alarm","state_type":"str","outputs":1,"x":540,"y":1720,"wires":[["39ff25fc.642eea"]]},{"id":"39ff25fc.642eea","type":"switch","z":"e2aa70e0.77b69","name":"Armed Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1720,"wires":[["5571e0fc.c4d95","d6f407eb.158ff8","c92891fc.ca9a2"]]},{"id":"26c6414d.d3674e","type":"trigger-state","z":"e2aa70e0.77b69","name":"Patio Door","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d000225432d","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1380,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"35292a54.eb59b6","type":"trigger-state","z":"e2aa70e0.77b69","name":"Back Door","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73c09","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1440,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"9a9d8100.762cf","type":"trigger-state","z":"e2aa70e0.77b69","name":"Kitchen Window","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73af4","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":1500,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"7d64fb15.da4884","type":"trigger-state","z":"e2aa70e0.77b69","name":"Jackson Window","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73a73","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1560,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"838b18c9.609758","type":"trigger-state","z":"e2aa70e0.77b69","name":"Hudson Window","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e73aad","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":1620,"wires":[["b9443229.64462","2fbf3b12.4c6dc4"],[]]},{"id":"99919acf.627ae8","type":"trigger-state","z":"e2aa70e0.77b69","name":"Bathroom Window","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001e74875","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1680,"wires":[["b9443229.64462"],[]]},{"id":"3a1da040.d4413","type":"trigger-state","z":"e2aa70e0.77b69","name":"Bedroom Window","server":"4d97f48a.5f4fac","entityid":"binary_sensor.door_window_sensor_158d0001f36741","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1740,"wires":[["b9443229.64462"],[]]},{"id":"5814a7f7.d984b8","type":"trigger-state","z":"e2aa70e0.77b69","name":"Livingroom Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d0001e5d118","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1800,"wires":[["b9443229.64462"],[]]},{"id":"15bf28f0.567d67","type":"trigger-state","z":"e2aa70e0.77b69","name":"Playroom Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d0001e5cf11","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1860,"wires":[["b9443229.64462"],[]]},{"id":"46212c17.ceea84","type":"trigger-state","z":"e2aa70e0.77b69","name":"Staircase Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d00022c2f21","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":1920,"wires":[["b9443229.64462"],[]]},{"id":"17fe5a89.a8f0f5","type":"trigger-state","z":"e2aa70e0.77b69","name":"Jackson Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d000201351c","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":1980,"wires":[["b9443229.64462"],[]]},{"id":"4bd2ba34.cff5c4","type":"trigger-state","z":"e2aa70e0.77b69","name":"Hudson Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d0002006d46","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":2040,"wires":[["b9443229.64462"],[]]},{"id":"5d8f6403.e9c60c","type":"trigger-state","z":"e2aa70e0.77b69","name":"Bathroom Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d000200e4ab","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":2100,"wires":[["b9443229.64462"],[]]},{"id":"76f3b4c1.e5cfdc","type":"trigger-state","z":"e2aa70e0.77b69","name":"Bedroom Motion","server":"4d97f48a.5f4fac","entityid":"binary_sensor.motion_sensor_158d0001e63803","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":2160,"wires":[["b9443229.64462"],[]]},{"id":"5571e0fc.c4d95","type":"api-call-service","z":"e2aa70e0.77b69","name":"Trigger Alarm","server":"4d97f48a.5f4fac","service_domain":"alarm_control_panel","service":"alarm_trigger","data":"{\"entity_id\":\"alarm_control_panel.ha_alarm\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":1740,"wires":[[]]},{"id":"d6f407eb.158ff8","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":1820,"wires":[[]]},{"id":"71f579e5.6fc888","type":"switch","z":"e2aa70e0.77b69","name":"Armed Home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1780,"wires":[["5571e0fc.c4d95","d6f407eb.158ff8","c92891fc.ca9a2"]]},{"id":"2fbf3b12.4c6dc4","type":"api-current-state","z":"e2aa70e0.77b69","name":"Alarm Triggers","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"alarm_control_panel.ha_alarm","state_type":"str","outputs":1,"x":540,"y":1780,"wires":[["71f579e5.6fc888"]]},{"id":"a91835ee.fb9828","type":"trigger-state","z":"e2aa70e0.77b69","name":"Stop Siren On Disarm","server":"4d97f48a.5f4fac","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ksywdxxhxnb","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"triggered"},{"id":"j3aqmctuj6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":1160,"wires":[["da960cc7.30c5b","b0074f3d.428c4","d0bec310.f5023"],[]]},{"id":"87662403.fb6cd8","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm triggered you have 2 minutes to reset or police will be contacted!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1190,"y":1140,"wires":[[]]},{"id":"b0074f3d.428c4","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm deactivated!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":430,"y":1160,"wires":[[]]},{"id":"c92891fc.ca9a2","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":990,"y":1660,"wires":[[]]},{"id":"a76901bc.e65eb","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":180,"wires":[["a5b0fd64.9d9","b1ad5b1d.f0ac88"],["47e1d8ad.5b7d48"]]},{"id":"b0f857bd.c2e988","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The front door is still open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":120,"wires":[["39a9b9c4.e35c26"]]},{"id":"a5b0fd64.9d9","type":"api-current-state","z":"e2aa70e0.77b69","name":"Front Door","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d00022016b2","state_type":"str","outputs":1,"x":910,"y":140,"wires":[["5238ba8f.8dfcf4"]]},{"id":"5238ba8f.8dfcf4","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":140,"wires":[["b0f857bd.c2e988"],["29f7dfbd.d5cf2"]]},{"id":"29f7dfbd.d5cf2","type":"api-current-state","z":"e2aa70e0.77b69","name":"Patio Door","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d000225432d","state_type":"str","outputs":1,"x":910,"y":200,"wires":[["b83aed88.332fc"]]},{"id":"b83aed88.332fc","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":200,"wires":[["2bf94d75.3c75b2"],["b60fc44b.e24ad8"]]},{"id":"2bf94d75.3c75b2","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The patio door is still open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":180,"wires":[["861e3c78.d3cf6"]]},{"id":"b60fc44b.e24ad8","type":"api-current-state","z":"e2aa70e0.77b69","name":"Back Door","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73c09","state_type":"str","outputs":1,"x":910,"y":260,"wires":[["65ae1ff1.4c021"]]},{"id":"65ae1ff1.4c021","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":260,"wires":[["e3d59861.047e88"],["e6e260c1.4c664"]]},{"id":"e3d59861.047e88","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The back door is still open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":240,"wires":[["8df0b865.00d388"]]},{"id":"e6e260c1.4c664","type":"api-current-state","z":"e2aa70e0.77b69","name":"Garage Door","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.garage_door","state_type":"str","outputs":1,"x":910,"y":320,"wires":[["583c78ba.bec8f8"]]},{"id":"583c78ba.bec8f8","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":320,"wires":[["839b2e7b.0737c"],[]]},{"id":"839b2e7b.0737c","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The patio door is still open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1270,"y":300,"wires":[["d1f300e.d6445"]]},{"id":"39a9b9c4.e35c26","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":120,"wires":[["29f7dfbd.d5cf2"]]},{"id":"861e3c78.d3cf6","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":180,"wires":[["b60fc44b.e24ad8"]]},{"id":"8df0b865.00d388","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":240,"wires":[["e6e260c1.4c664"]]},{"id":"d1f300e.d6445","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":300,"wires":[[]]},{"id":"c4ce7a88.7e96a8","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Jackson's window is open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":440,"wires":[["d8bb3194.9d58"]]},{"id":"6783755d.3d328c","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":520,"wires":[["7cc2c3bf.a278dc","88bb5f3b.55986"],[]]},{"id":"7cc2c3bf.a278dc","type":"api-current-state","z":"e2aa70e0.77b69","name":"Jackson Window","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73a73","state_type":"str","outputs":1,"x":910,"y":460,"wires":[["6e42f2ea.98506c"]]},{"id":"6e42f2ea.98506c","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":460,"wires":[["c4ce7a88.7e96a8"],["acb04c8c.32c51"]]},{"id":"d8bb3194.9d58","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":440,"wires":[["acb04c8c.32c51"]]},{"id":"31e4b30f.0871bc","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Hudson's window is open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":500,"wires":[["9fd3b765.b136d8"]]},{"id":"acb04c8c.32c51","type":"api-current-state","z":"e2aa70e0.77b69","name":"Hudson Window","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73aad","state_type":"str","outputs":1,"x":900,"y":520,"wires":[["81cb6839.bde708"]]},{"id":"81cb6839.bde708","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":520,"wires":[["31e4b30f.0871bc"],["27c42c5d.01ad94"]]},{"id":"9fd3b765.b136d8","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":500,"wires":[["27c42c5d.01ad94"]]},{"id":"96032710.a1eb98","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The Kitchen window is open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":560,"wires":[["c6dc6e9e.e60fb"]]},{"id":"27c42c5d.01ad94","type":"api-current-state","z":"e2aa70e0.77b69","name":"Kitchen Window","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e73af4","state_type":"str","outputs":1,"x":900,"y":580,"wires":[["ae4e703f.63f8c"]]},{"id":"ae4e703f.63f8c","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["96032710.a1eb98"],["46151117.ce25f"]]},{"id":"c6dc6e9e.e60fb","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":560,"wires":[[]]},{"id":"b4304c8.97192b","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The Bedroom window is open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":620,"wires":[["bf28df37.899f6"]]},{"id":"46151117.ce25f","type":"api-current-state","z":"e2aa70e0.77b69","name":"Bedroom Window","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001f36741","state_type":"str","outputs":1,"x":910,"y":640,"wires":[["6299b860.3c7ca8"]]},{"id":"6299b860.3c7ca8","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":640,"wires":[["b4304c8.97192b"],["874b82ed.5e8d7"]]},{"id":"bf28df37.899f6","type":"delay","z":"e2aa70e0.77b69","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":620,"wires":[["874b82ed.5e8d7"]]},{"id":"986b1a8c.1bbb08","type":"api-call-service","z":"e2aa70e0.77b69","name":"Turn Routine Off","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.goodnight\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1120,"y":80,"wires":[[]]},{"id":"69520c9c.ba6334","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"The Bathroom window is open maybe you should close it first.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":680,"wires":[[]]},{"id":"874b82ed.5e8d7","type":"api-current-state","z":"e2aa70e0.77b69","name":"Bathroom Window","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.door_window_sensor_158d0001e74875","state_type":"str","outputs":1,"x":910,"y":700,"wires":[["be7868a1.04ab88"]]},{"id":"be7868a1.04ab88","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":700,"wires":[["69520c9c.ba6334"],[]]},{"id":"4630f8fe.bfeb08","type":"trigger-state","z":"e2aa70e0.77b69","name":"Start Siren On Alarm Trigger","server":"4d97f48a.5f4fac","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":760,"wires":[["d966f642.82cd58"],[]]},{"id":"d966f642.82cd58","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":760,"wires":[["5911c38d.35f38c","6ef8eddd.b03784"],["6fe23356.eae1bc","aa37dd3c.13992"]]},{"id":"5911c38d.35f38c","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm home mode is armed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":720,"wires":[[]]},{"id":"6ef8eddd.b03784","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm home mode is armed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":680,"wires":[[]]},{"id":"aa37dd3c.13992","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm away mode is armed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":820,"wires":[[]]},{"id":"6fe23356.eae1bc","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm away mode is armed\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":780,"wires":[[]]},{"id":"52e48ea3.2873b","type":"api-current-state","z":"e2aa70e0.77b69","name":"Routine On?","server":"4d97f48a.5f4fac","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.goodnight","state_type":"str","outputs":2,"x":210,"y":200,"wires":[["a01d24d3.3eb328"],[]]},{"id":"88bb5f3b.55986","type":"api-call-service","z":"e2aa70e0.77b69","name":"Disarm Alarm","server":"4d97f48a.5f4fac","service_domain":"mqtt","service":"publish","data":"{\"topic\": \"home/alarm/set\", \"payload\": \"DISARM\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":400,"wires":[["28ff37e6.1817a8"]]},{"id":"28ff37e6.1817a8","type":"api-call-service","z":"e2aa70e0.77b69","name":"Turn Routine Off","server":"4d97f48a.5f4fac","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.goodnight\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":400,"wires":[[]]},{"id":"27263010.25113","type":"comment","z":"e2aa70e0.77b69","name":"Alarm System","info":"","x":130,"y":40,"wires":[]},{"id":"70667bb3.133884","type":"comment","z":"e2aa70e0.77b69","name":"Smoke Alarm","info":"","x":150,"y":2260,"wires":[]},{"id":"3140d899.5fdd68","type":"trigger-state","z":"e2aa70e0.77b69","name":"Downstairs Smoke","server":"4d97f48a.5f4fac","entityid":"binary_sensor.smoke_sensor_158d0001b8ddc7","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":2340,"wires":[["539fd818.75cca8"],[]]},{"id":"74e39bf6.2373f4","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Alarm triggered you have 60 seconds to reset or siren will sound!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2300,"wires":[[]]},{"id":"fe43da1d.699738","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\": \"HA Alarm\", \"message\": \"Alarm has been Triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2380,"wires":[[]]},{"id":"539fd818.75cca8","type":"api-current-state","z":"e2aa70e0.77b69","name":"Anyone Home?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.family","state_type":"str","outputs":1,"x":480,"y":2360,"wires":[["a8406a68.1e3dd8"]]},{"id":"a8406a68.1e3dd8","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":2360,"wires":[[],[]]},{"id":"836d45b9.c7dc48","type":"trigger-state","z":"e2aa70e0.77b69","name":"Upstairs Smoke","server":"4d97f48a.5f4fac","entityid":"binary_sensor.smoke_sensor_158d0001b8deba","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":2400,"wires":[["539fd818.75cca8"],[]]},{"id":"f194344d.11b638","type":"trigger-state","z":"e2aa70e0.77b69","name":"Bathroom Leak ","server":"4d97f48a.5f4fac","entityid":"binary_sensor.water_leak_sensor_158d0002338651","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":180,"y":2580,"wires":[["a116c841.6b2ab8"],[]]},{"id":"a116c841.6b2ab8","type":"api-current-state","z":"e2aa70e0.77b69","name":"Anyone Home?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.family","state_type":"str","outputs":1,"x":480,"y":2580,"wires":[["bcf7d1d9.2d13a"]]},{"id":"bcf7d1d9.2d13a","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":2580,"wires":[["5cec88e4.42e4b8"],["286d378a.fa9fe8"]]},{"id":"d7641995.32b988","type":"trigger-state","z":"e2aa70e0.77b69","name":"Kitchen Leak","server":"4d97f48a.5f4fac","entityid":"binary_sensor.water_leak_sensor_158d00026e26dc","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nuz8dkiqon","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":2720,"wires":[["37cafd16.be9382"],[]]},{"id":"6be3fe32.c02ad","type":"comment","z":"e2aa70e0.77b69","name":"Leak Sensors","info":"","x":150,"y":2480,"wires":[]},{"id":"5cec88e4.42e4b8","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Attention! A water leak in the Bathroom has been detected.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2540,"wires":[[]]},{"id":"286d378a.fa9fe8","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\":\"Bathroom Water Leak\",\"message\":\"A Water leak in the Bathroom has been detected.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2620,"wires":[[]]},{"id":"37cafd16.be9382","type":"api-current-state","z":"e2aa70e0.77b69","name":"Anyone Home?","server":"4d97f48a.5f4fac","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.family","state_type":"str","outputs":1,"x":480,"y":2720,"wires":[["4046e49c.63ae3c"]]},{"id":"4046e49c.63ae3c","type":"switch","z":"e2aa70e0.77b69","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":2720,"wires":[["f3983d08.34a66"],["a5a0b22d.56c42"]]},{"id":"f3983d08.34a66","type":"api-call-service","z":"e2aa70e0.77b69","name":"TTS","server":"4d97f48a.5f4fac","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.kingia_main\",\"message\":\"Attention! A water leak in the Kitchen has been detected.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2680,"wires":[[]]},{"id":"a5a0b22d.56c42","type":"api-call-service","z":"e2aa70e0.77b69","name":"Notify","server":"4d97f48a.5f4fac","service_domain":"notify","service":"pushbullet","data":"{\"title\":\"Kitchen Water Leak\",\"message\":\"A Water leak in the Kitchen has been detected.\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":2760,"wires":[[]]},{"id":"4d97f48a.5f4fac","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
