config/packages/presence/Node-RED Flow/Node-RED-Flow
[{"id":"3f274708.1e88e8","type":"comment","z":"140efb1f.113735","name":"Create Custom Device Tracker","info":"","x":190,"y":100,"wires":[]},{"id":"a894a12d.6d52e","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"tina_bayesian\",\"location_name\":\"home\"}","mergecontext":"","x":1120,"y":600,"wires":[[]]},{"id":"4f44d87e.3249e8","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"tina_bayesian\",\"location_name\":\"not_home\"}","mergecontext":"","x":1130,"y":700,"wires":[[]]},{"id":"2b4697be.b9c828","type":"comment","z":"140efb1f.113735","name":"Create Custom Key Tracker","info":"","x":180,"y":940,"wires":[]},{"id":"c7c6b0f1.260a5","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1060,"wires":[["7bf4c3ba.308bdc"],["57844ab6.034284"],["57844ab6.034284"]]},{"id":"7bf4c3ba.308bdc","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_keys\",\"location_name\":\"home\"}","mergecontext":"","x":720,"y":1020,"wires":[[]]},{"id":"57844ab6.034284","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_keys\",\"location_name\":\"not_home\"}","mergecontext":"","x":730,"y":1100,"wires":[[]]},{"id":"2c7bdbb6.133014","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1560,"wires":[["10808844.767168"],["707f72b6.b014ac"],["707f72b6.b014ac"]]},{"id":"10808844.767168","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"tina_keys\",\"location_name\":\"home\"}","mergecontext":"","x":720,"y":1520,"wires":[[]]},{"id":"707f72b6.b014ac","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"tina_keys\",\"location_name\":\"not_home\"}","mergecontext":"","x":730,"y":1600,"wires":[[]]},{"id":"4e1f11a9.ec55c","type":"api-current-state","z":"140efb1f.113735","name":"James Ping","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.james_ping","x":390,"y":240,"wires":[["8d39be88.b7171"]]},{"id":"188d13fe.5e271c","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_bayesian\",\"location_name\":\"home\"}","mergecontext":"","x":1120,"y":240,"wires":[[]]},{"id":"8bf21cb.b0ca4e","type":"api-current-state","z":"140efb1f.113735","name":"James Keys","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.james_keys","x":390,"y":300,"wires":[["8d39be88.b7171"]]},{"id":"8d39be88.b7171","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":320,"wires":[["124bb1f6.0c425e"],["d8d932c3.15727"]]},{"id":"b76203f4.474a8","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_bayesian\",\"location_name\":\"not_home\"}","mergecontext":"","x":1130,"y":320,"wires":[[]]},{"id":"bd0ca8aa.97f968","type":"trigger-state","z":"140efb1f.113735","name":"James Ping","server":"69a8824.8c4167c","entityid":"device_tracker.james_ping","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":240,"wires":[["4e1f11a9.ec55c"],[]]},{"id":"515e9d89.5cd6a4","type":"trigger-state","z":"140efb1f.113735","name":"James Keys","server":"69a8824.8c4167c","entityid":"device_tracker.james_keys","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":300,"wires":[["8bf21cb.b0ca4e"],[]]},{"id":"fc219f9.21da06","type":"trigger-state","z":"140efb1f.113735","name":"James BLE","server":"69a8824.8c4167c","entityid":"device_tracker.huawei_mate_10","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":360,"wires":[["2f3be42d.9905fc"],[]]},{"id":"860b135d.40aef","type":"trigger-state","z":"140efb1f.113735","name":"James GPS","server":"69a8824.8c4167c","entityid":"device_tracker.huawei_h10","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":390,"y":420,"wires":[["8d39be88.b7171"],[]]},{"id":"124bb1f6.0c425e","type":"api-current-state","z":"140efb1f.113735","name":"James Home ?","server":"69a8824.8c4167c","halt_if":"Home","override_topic":true,"override_payload":true,"entity_id":"sensor.james","x":820,"y":240,"wires":[["188d13fe.5e271c"]]},{"id":"6cb98412.5aedac","type":"trigger-state","z":"140efb1f.113735","name":"James Keys","server":"69a8824.8c4167c","entityid":"sensor.james_keys","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":290,"y":1060,"wires":[["c7c6b0f1.260a5"],[]]},{"id":"3af2d476.5b87dc","type":"trigger-state","z":"140efb1f.113735","name":"Tina Keys","server":"69a8824.8c4167c","entityid":"sensor.tina_keys","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":280,"y":1560,"wires":[["2c7bdbb6.133014"],[]]},{"id":"958e8716.946528","type":"api-current-state","z":"140efb1f.113735","name":"Tina Keys","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.tina_keys","x":360,"y":660,"wires":[["64d6108a.71227"]]},{"id":"64d6108a.71227","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":680,"wires":[["391e3d67.159dd2"],["26dd2cc2.35e2a4"]]},{"id":"9cd4813f.05c8","type":"trigger-state","z":"140efb1f.113735","name":"Tina Ping","server":"69a8824.8c4167c","entityid":"device_tracker.tina_ping","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":600,"wires":[["5ee52a49.c64cc4"],[]]},{"id":"af5f35ab.6be878","type":"trigger-state","z":"140efb1f.113735","name":"Tina Keys","server":"69a8824.8c4167c","entityid":"device_tracker.tina_keys","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":660,"wires":[["958e8716.946528"],[]]},{"id":"b9c78d71.ce3cf","type":"trigger-state","z":"140efb1f.113735","name":"Tina BLE","server":"69a8824.8c4167c","entityid":"device_tracker.galaxy_s8","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":140,"y":740,"wires":[["473f599a.e0a688"],[]]},{"id":"47326493.44de3c","type":"trigger-state","z":"140efb1f.113735","name":"Tina GPS","server":"69a8824.8c4167c","entityid":"device_tracker.galaxy_tina","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":360,"y":780,"wires":[["64d6108a.71227"],[]]},{"id":"391e3d67.159dd2","type":"api-current-state","z":"140efb1f.113735","name":"Tina Home ?","server":"69a8824.8c4167c","halt_if":"Home","override_topic":true,"override_payload":true,"entity_id":"sensor.tina","x":790,"y":600,"wires":[["a894a12d.6d52e"]]},{"id":"5ee52a49.c64cc4","type":"api-current-state","z":"140efb1f.113735","name":"Tina Ping","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.tina_ping","x":360,"y":600,"wires":[["64d6108a.71227"]]},{"id":"c5beaabc.bae4e8","type":"api-call-service","z":"140efb1f.113735","name":"Turn On Notify","server":"69a8824.8c4167c","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.james_tts\" }","mergecontext":"","x":1100,"y":400,"wires":[[]]},{"id":"a7ca2f89.f25b3","type":"api-call-service","z":"140efb1f.113735","name":"Turn On Notify","server":"69a8824.8c4167c","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.tina_tts\" }","mergecontext":"","x":1100,"y":780,"wires":[[]]},{"id":"d8d932c3.15727","type":"time-range-switch","z":"140efb1f.113735","name":"5am - 10pm","lat":"","lon":"","startTime":"05:00","endTime":"22:00","startOffset":"","endOffset":"","x":810,"y":400,"wires":[["b76203f4.474a8","c5beaabc.bae4e8"],[]]},{"id":"26dd2cc2.35e2a4","type":"time-range-switch","z":"140efb1f.113735","name":"5am - 10pm","lat":"","lon":"","startTime":"05:00","endTime":"22:00","startOffset":"","endOffset":"","x":790,"y":760,"wires":[["4f44d87e.3249e8","a7ca2f89.f25b3"],[]]},{"id":"2f3be42d.9905fc","type":"api-current-state","z":"140efb1f.113735","name":"James BLE","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.huawei_mate_10","x":390,"y":360,"wires":[["8d39be88.b7171"]]},{"id":"802bb27c.22e03","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1240,"wires":[["f513962a.d53b08"],["13117ec4.684351"],["13117ec4.684351"]]},{"id":"f513962a.d53b08","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_car\",\"location_name\":\"home\"}","mergecontext":"","x":720,"y":1200,"wires":[[]]},{"id":"13117ec4.684351","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_car\",\"location_name\":\"not_home\"}","mergecontext":"","x":730,"y":1280,"wires":[[]]},{"id":"40d9c445.6bee2c","type":"trigger-state","z":"140efb1f.113735","name":"James Car","server":"69a8824.8c4167c","entityid":"sensor.james_car","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":290,"y":1240,"wires":[["802bb27c.22e03"],[]]},{"id":"696b36ee.00df88","type":"switch","z":"140efb1f.113735","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1400,"wires":[["ee503beb.8b5ea8"],["74e5efa1.f0966"],["74e5efa1.f0966"]]},{"id":"ee503beb.8b5ea8","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_bag\",\"location_name\":\"home\"}","mergecontext":"","x":720,"y":1360,"wires":[[]]},{"id":"74e5efa1.f0966","type":"api-call-service","z":"140efb1f.113735","name":"Set Presence Not Home","server":"69a8824.8c4167c","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"james_bag\",\"location_name\":\"not_home\"}","mergecontext":"","x":730,"y":1440,"wires":[[]]},{"id":"f89816e2.7064f8","type":"trigger-state","z":"140efb1f.113735","name":"James Bag","server":"69a8824.8c4167c","entityid":"sensor.james_bag","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":290,"y":1400,"wires":[["696b36ee.00df88"],[]]},{"id":"473f599a.e0a688","type":"api-current-state","z":"140efb1f.113735","name":"Tina BLE","server":"69a8824.8c4167c","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"device_tracker.galaxy_s8","x":360,"y":720,"wires":[["64d6108a.71227"]]},{"id":"69a8824.8c4167c","type":"server","z":"","name":"HA - Main","legacy":true}]
